[2016-10-04 20:22] MichaelSimons opened #2 "Docker Hub repo references the wrong github repo"
The [Docker Hub repository](https://hub.docker.com/r/microsoft/aspnet/) associated with the Microsoft/aspnet-docker repository is associated with the wrong github repo.  On the right side of the DH repo there is a Source Repository box.  It contains an [aspnet/aspnet-docker](https://github.com/aspnet/aspnet-docker) hyperlink which references the ASP.NET Core Docker GH repo.  This seems wrong and i

[2016-10-04 21:09] shirhatti commented on #2
@MichaelSimons Microsoft/aspnet on DH originally referred to the ASP.NET Core images for Linux that used the auto-build feature on DH. We have now migrated all ASP.NET Core images to Microsoft/aspnetcore on DH.

I haven't yet been able to figure out how to un-link https://github.com/aspnet/aspnet-docker without deleting and creating the repo on DockerHub which would break existing customers who re

[2016-10-04 21:17] MichaelSimons commented on #2
Unfortunately, Docker Hub's functionality is limiting in several ways.   I know in the past you used to have to make a request to Docker if you wanted to delete a tag (this is now something an admin can do).  Re-linking a DH repo may be something you have to ask Docker to do for you.

[2016-10-05 21:55] shirhatti opened #4 "Default AppPool in 3.5 image is incorrect"
The default AppPool should be changed to a v2.0 AppPool

[2016-10-06 20:00] shirhatti opened #5 "Remove the contents of the default IIS site from the ASP.NET base image"
Having multiple websites running per container is an anti-pattern and should be avoided. Deleting the default website would a best practice.

[2016-10-07 00:07] HongGit commented on #5
Do you mean to delete the default web site?  We should keep the default web site, and let the user/customer to move/create their web applications.

[2016-10-07 01:15] shirhatti opened #6 "The ASP.NET 3.5 image needn't enable ASP.NET 4.6.2"
These [lines](https://github.com/Microsoft/aspnet-docker/blob/master/3.5/Dockerfile#L7-L8) can be omitted from the Dockerfile

[2016-10-11 19:11] shirhatti commented on #4
![](https://github.trello.services/images/mini-trello-icon.png) [Change default AppPool for ASP.NET 3.5 images](https://trello.com/c/va86s65d/5-change-default-apppool-for-asp-net-3-5-images)

[2016-10-11 22:02] shirhatti commented on #5
We can simplify what the end user’s Dockerfile will look like.

Old Dockerfile
[code]
After changes, new Dockerfile

[code]

[2016-10-12 18:09] shirhatti commented on #4
[code]

[2016-10-13 12:20] sherland opened #7 "Unable to read environment variables defined in Dockerfile in asp.net site"
Not sure if this is a problem with docker, the base-image or this image.
Also see this stackoverflow question: [http://stackoverflow.com/questions/39978342/docker-for-windows-asp-net-site-unable-to-read-environment-variables-defined-in](http://stackoverflow.com/questions/39978342/docker-for-windows-asp-net-site-unable-to-read-environment-variables-defined-in)

First create a container based on Doc

[2016-10-13 21:47] shirhatti commented on #7
@shreland Thanks for reporting this.

Environment variables passed to `docker` through `-e` are set for the process in the container via [`CreateProcess` and `lpEnvironment`.](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682425(v=vs.85).aspx)

They are not set as SYSTEM Variables which would reside in the registry in the `HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Ma

[2016-10-13 21:57] shirhatti commented on #7
We realize this is not ideal at the moment and are looking at ways to flow environment variables from `docker run -e VAR=val` all the way to your app. I'm going to close this issue as a duplicate of https://github.com/Microsoft/iis-docker/issues/2

[2016-10-13 21:57] #7 closed

[2016-10-18 21:25] shirhatti opened #9 "The ASP.NET 3.5 image doesn't clean up the the C:\build directory"

[2016-11-15 16:06] SupraRon opened #11 "One or more build-args [site_root] were not consumed, failing build"
Using the sample Dockerfile, I am getting the following error during build:

PS C:\containers\ASP5> docker build -t aspnet-site --build-arg site_root=/ .
Sending build context to Docker daemon 7.946 MB
Step 1/2 : FROM microsoft/iis
 ---> 211fecef1e6b
Step 2/2 : RUN powershell -Command Add-WindowsFeature NET-Framework-45-ASPNET;     powershell -Command Add-WindowsFeature Web-Asp-Net45;     powershe

[2016-11-16 13:00] decarufe opened #12 "Missing or bad fragments"
I try to get microsoft/aspnet container but it fails on two fragments (9c7f9c7d9bc2 and d33fff6043a1). They retry for a while and fail with "unknown blob" message.

[code]

[2016-11-16 19:05] shirhatti commented on #12
@shhsu Can you take a look?

[2016-11-16 19:22] shhsu commented on #12
Can you try running & 'C:\Program Files\Docker\Docker\DockerCli.exe' -SwitchDaemon
Make sure you are using windows daemon

[2016-11-16 21:21] decarufe commented on #12
That's it! You nailed it. I switched my docker server to Linux for another project and I forgot to set it back. It worked fine after I switch back to Windows.

I know this is not related to this project but I think docker should give a little more info if it tries to pull a container from an unsupported OS.

[2016-11-16 21:21] #12 closed

[2016-12-01 09:42] mayankthebest commented on #11
This because the wrong dockerfile is linked in the documentation. The correct dockerfile is here - https://github.com/Microsoft/aspnet-docker/blob/master/4.6.2/sample/Dockerfile

Contents of Dockerfile:
[code]
You can see that now we make use of the build args to add the site root to IIS root.

[2016-12-13 17:55] natemcmaster commented on #2
Can we try to make some progress on this? We keep getting issues opened on the aspnetcore repo that should belong here.

[2016-12-13 17:55] natemcmaster opened #13 "port binding not working"
_From @paddyfay on December 9, 2016 9:44_

I am trying to bind ports between my docker host and aspnet container. The container is created from the latest aspnet image. The following run command successfully starts the container however the aspnet site is only reachable from the private IP address of the container.

docker run -d -p 80:80 --name=test-site asp-site

The relating entry in docker hub

[2016-12-13 18:31] shirhatti commented on #2
Sorry about that. I'll follow up on this.

[2016-12-13 18:42] shirhatti commented on #13
[There is a currently a known limitation in Windows NAT](https://blogs.technet.microsoft.com/virtualization/2016/05/25/windows-nat-winnat-capabilities-and-limitations/)

Here's the relevant section if you don't  want to read that entire article

[2016-12-13 18:42] #13 closed

[2016-12-20 12:19] paddyfay commented on #13
Any idea when this limitation will be overcome?

[2016-12-29 14:52] anweiss opened #14 "Windows integrated auth using this image"
Per the problem described in https://github.com/Microsoft/Virtualization-Documentation/issues/523, are there instructions for using this image to run ASP.NET 4.6.2 apps that utilize Windows integrated auth against Active Directory?

[2017-01-03 18:24] natemcmaster opened #15 "Rebuild 3.5 tag on new windowsservercore base image version"
_From @git-jiby-me on December 25, 2016 19:8_

It seems the version of base image windowsservercore was updated (latest one is 10.0.14393.576), however it seems the 3.5 tag is not rebuild using the new base image, can you guys do that, so that we end up reusing the base image used by other images, and end up using the latest base image ?

_Copied from original issue: aspnet/aspnet-docker#181_

[2017-01-05 08:09] rainmakerho commented on #4
hi shirhatti,
   docker build will cause error "Unknow instruction: START_IISCOMMITDELAY"

[2017-01-05 18:25] shirhatti commented on #4
@shhsu Could you take a look?

[2017-01-05 18:47] shhsu commented on #4
@rainmakerho

This docker file has several problems and will definitely not work.

* Is there a reason why you are trying to install .net 3.5 on your image? Is it a .net 3.5 site?
* can you follow the instruction on the main page? You want to copy the proper docker file to your  C:\randomanswers and build your image form there.

Also, please open a new issue for this if you have further questions.

[2017-01-06 05:36] rainmakerho opened #16 "asp.net 3.5 run get 500 server error, how get the app detail infos?"
@shhsu
i pull microsoft/aspnet:3.5 image , then build aspnetap image like below,

FROM microsoft/aspnet:3.5

RUN mkdir C:\aspnet35

RUN powershell -NoProfile -Command \
    Import-module IISAdministration; \
    New-IISSite -Name "ASPNET" -PhysicalPath C:\aspnet35 -BindingInformation "*:8000:"

EXPOSE 8000

ADD containerImageNet35/ /aspnet35

after image build and run.

i navigate asp.net page in

[2017-01-06 17:13] shhsu commented on #16
Can you try adding this Dockerfile to containerImageNet35

FROM microsoft/aspnet:3.5
ARG site_root=.
ADD ${site_root} /inetpub/wwwroot

build

docker build -t mysite1 .

and then launch

docker run -p=80:80 mysite1

hit the default website

[2017-01-09 02:18] rainmakerho commented on #16
@shhsu
thank for your help.
default website run well.

my i change ${site_root}  to my application folder,
like

FROM microsoft/aspnet:3.5

# Next, this Dockerfile creates a directory for your application
RUN mkdir C:\aspnet35

ARG site_root=.
ADD ${site_root} C:\aspnet35

ADD net35/ /aspnet35

ps. net35 folder is my asp.net webforms application

thank.

[2017-01-09 02:55] rainmakerho commented on #16
@shhsu
i modify your docker file like below,

FROM microsoft/aspnet:3.5
ARG site_root=.
ADD ${site_root} /inetpub/wwwroot

ADD net35/ /inetpub/wwwroot

after run ,

i will get 500 error

There is a problem with the resource you are looking for, and it cannot be displayed.
may i get the app detail error messages?
thanks.

[2017-01-09 03:33] rainmakerho commented on #16
@shhsu
if i put my web.config will cause 500 error.
my web.config is below,

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="Syst

[2017-01-09 08:45] rainmakerho commented on #16
@shhsu
if my web.config contains
section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"

will cause 500 error.

do you have  any ideas ?

[2017-01-09 17:11] shhsu commented on #16
is your ${site_root} relative path?
absolute path would not work in docker file. I would that the files you add to the docker context be in the same folder or sibling to the docker file because the docker would include the entire directory you referred to the build context.

[2017-01-10 01:23] rainmakerho commented on #16
@shhsu
yes.
it will get 500 error, if web.config include configSections session.
should we remove configSections session from web.config ?
my config like web.config.txt.
[Web.config.txt](https://github.com/Microsoft/aspnet-docker/files/695037/Web.config.txt)
thank for your help.

[2017-01-10 17:06] shhsu commented on #16
Not sure what the problem could be.

To find the reason of 500 error, there are a few places you can look

* Your applications log file directory
* %SystemDrive%\Windows\System32\LogFiles\HTTPERR
* %SystemDrive%\Windows\System32\winevt\logs

[2017-01-11 01:01] rainmakerho commented on #16
@shhsu
Thank for your help.
I have a question.
How can i copy container's files to host machine after docker run?
Thanks.

[2017-01-11 01:36] janvorli commented on #16
@rainmakerho `docker cp` should do the trick.

[2017-01-11 02:56] rainmakerho commented on #16
@janvorli
Thank for your help.
I use docker cp , after docker run.
i have problem below,
docker cp f4:C:\\inetpub\\wwwroot .\\mysite1

Error response from daemon: hcsshim::ActivateLayer failed in Win32: The process cannot access the file because it is being used by another process.
(0x20) id=f47aa0b21b9b9a43e3e01c9f82e3ea22c7f7a33998ac9f58544a2671684a2b24 flavour=1

[2017-01-11 05:59] rainmakerho opened #17 "data volume in microsoft/aspnet:3.5 error"
sirs,
i use data volume in microsoft/aspnet ok, but not ok in microsoft/aspnet:3.5 .
will get 0xc037010a error.
The connection with the Virtual Machine hosting the container was closed. ( 0xc037010a)

![aspnetand35compare](https://cloud.githubusercontent.com/assets/11240907/21837318/200c3ef6-d806-11e6-91c1-92a7f1c3c264.png)

[2017-01-11 18:01] shhsu commented on #16
This error looks a little vague. It's hard to tell what the issue is. Do you know which IIS feature is required by your website? You might need to install them in your container.

We have something like this in our docker file for ASP.NET tests. Note that this is for .NET 45 but it might include some feature that you are missing. You can go over these features and see if any of these is what you n

[2017-01-12 05:24] rainmakerho commented on #16
@shhsu
ok. Thanks for you help.

[2017-01-12 05:24] #16 closed

[2017-01-14 01:29] JMesser81 commented on #13
Soon... :-)

[2017-01-15 04:14] mhedgpeth commented on #13
Thanks for the update @JMesser81. As I've gotten into windows virtualization, this is the one problem that keeps me from telling me that windows containers are ready to go. I'm looking forward to a fix.

[2017-01-16 09:13] godblesslorry opened #18 "There is an error while i pulling this image"
[code]
I have retry on win10 and ubuntu, receive the same result. How to fix it?

[2017-01-16 09:43] rainmakerho opened #19 "may i installing dll into GAC with PowerShell?"
Hi sirs,
may i install dll into GAC with dockerfile?

[2017-01-20 23:53] shhsu commented on #6
Fixed with
https://github.com/Microsoft/aspnet-docker/commit/be2d95611b234cce4a7934fb34706435787ca5a3

[2017-01-20 23:53] #6 closed

[2017-01-21 01:03] shirhatti commented on #4
Fixed by #20

[2017-01-21 01:03] #4 closed

[2017-01-21 01:05] shirhatti commented on #15
Fixed by #20
New ASP.NET 3.5 images are now available on DockerHub

[2017-01-21 01:05] #15 closed

[2017-01-21 01:06] #11 closed

[2017-01-28 13:57] odalet commented on #13
Can't wait for this limitation to be fixed as well. Any uservoice of some kind for upvoting it?

[2017-02-12 02:54] #18 closed

[2017-04-06 18:29] christophedemey opened #22 "asp-net docker file missing script execute to enable dns."
Hi

Concerning this file : https://github.com/Microsoft/aspnet-docker/blob/master/4.6.2/Dockerfile
Problem : When using docker-compose with this image and a db sql developer image my website cannot resolve the db dns in my connectionstring.
Solution :
Added this at the end of the file :
RUN powershell set-itemproperty -path 'HKLM:\SYSTEM\CurrentControlSet\Services\Dnscache\Parameters' -Name Server

[2017-04-06 19:48] shirhatti commented on #22
@Jinhuafei Thoughts?

[2017-04-06 20:55] Jinhuafei commented on #22
This has nothing to do with asp.net. Looks like same issue as [this one](https://github.com/docker/docker/issues/31093). The fix/workaround should be added to the base windows image, cuz this is not aspnet image specific.

[2017-04-06 22:11] shirhatti commented on #22
Thanks for catching that! We can leave this issue as we await a fix downstream.

@christophedemey Thanks for the suggestion, but we'd rather not add temporary workarounds into our layer, especially given that the known workaround is easy to implement

[2017-04-12 00:12] natemcmaster commented on #2
Any progress?

[2017-04-12 00:25] shirhatti commented on #2
I've asked around in Docker slack channel and it turns out DockerHub has no way for us to do that short of **deleting and re-creating the repo**. Given the DockerHub persists all the intermediate layers from every build. We run a  risk of breaking people who are relying any older or intermediate images including those we might even have untagged.

If @Eilon and @HongGit are okay with this approach

[2017-04-12 01:52] Eilon commented on #2
I... have no opinion on this 😄

[2017-04-12 05:50] HongGit commented on #2
The approach should include plans to help people who might be broken.

[2017-04-18 03:10] rgarita opened #23 "SSL Support?"
I'm trying to dockerize an SP Addin, but to have it working I think I need have it running under https, what can I do to enable it....

[2017-04-21 19:08] prashant-anand opened #24 "Unable to get microsoft/aspnet container using docker"
When I try to pull the microsoft/aspnet the pull errors out with Unknown blob message. I used command line and Kinematic to do this.

![image](https://cloud.githubusercontent.com/assets/4064886/25292473/ea829be2-269b-11e7-8072-e2fc7facc952.png)

[2017-04-21 19:16] #24 closed

[2017-04-25 15:49] natemcmaster commented on #2
FYI - we're continually getting people posting issues on aspnet/aspnet-docker. Had another issue opened today that should have been on this repo.

[2017-04-28 21:55] AaronVanderwielen opened #25 "unable to pull microsoft/aspnet-docker"
The image pulls, appears to finish, and then the 4GB part retries after appearing to finish, and just keeps doing that until the host closes connection.

![image](https://cloud.githubusercontent.com/assets/6758730/25548669/7a0ddb92-2c22-11e7-9305-fef4337d2f22.png)

I saw that someone else noticed this issue in a separate thread here: https://github.com/aspnet/aspnet-docker/issues/228
Was just chec

[2017-05-12 05:25] sandersaares opened #26 "Images are out of date"
microsoft/windowsservercore:10.0.14393.1198 was published several days ago, yet there are no matching aspnet images.

[2017-05-15 05:27] pbering opened #27 "Updated .NET 4.7 image"
When will a updated image with .NET 4.7 be available?

[2017-05-16 00:13] shirhatti commented on #26
We've published the images earlier today. Sorry about that

[2017-05-16 00:13] #26 closed

[2017-05-16 17:17] dnelly commented on #17
Any updates on this issue? I'm having the same problem with microsoft/wcf.

[2017-06-05 15:31] MichaelSimons opened #30 "Documented 4.6.2 tags are out of date"
The documented tags in the readme for 4.6.2 seem out of date.

`4.6.2-windowsservercore-10.0.14393.321, 4.6.2-windowsservercore, 4.6.2, latest (4.6.2/Dockerfile)`

The `4.6.2-windowsservercore-10.0.14393.321` tag is out of date.  `4.6.2-windowsservercore-10.0.14393.1198` is the most recent fully versioned tag. It is also inconsistent that the `windowsservercore` tags are included for 4.6.2 but not

[2017-06-09 00:03] shirhatti opened #31 "ASP.NET Images should layer on .NET Framework images instead of the IIS image"
Based on https://github.com/dotnet/designs/issues/7

[2017-06-09 00:04] shirhatti commented on #31
/cc @honggit

[2017-06-14 05:32] richlander commented on #31
Looks like #29 fixes this.

[2017-06-15 17:45] #31 closed

[2017-06-19 14:23] MichaelLogutov opened #32 ""The directory name is invalid" with the latest image"
Using microsoft/aspnet:4.6.2-windowsservercore-10.0.14393.1358 image I've got this error when launching site that was previously running fine:
[code]

I thinks it's permission issue

[2017-06-19 18:13] shirhatti commented on #32
cc @HongGit @mcy94w

[2017-06-19 23:12] HongGit commented on #32
@MichaelLogutov could you please share your repro steps?  Did you just simply migrate your application to the new ASP.NET 4.6.2 image?  Was there any operations performed before your migration?

[2017-06-20 07:17] MichaelLogutov commented on #32
Ok. False alarm. But if anyone encountered this error - it's because I've removed Microsoft.CodeDom.Providers.DotNetCompilerPlatform package. In that case the error a bit missleading - it tries to "compile" global.asax but can't (needed c# 6 - dunno why) and falling with this strange error.

[2017-06-20 07:17] #32 closed

[2017-06-20 12:56] jaredfholgate opened #33 "Permissions for default app pool account"
Hi

When running an existing ASP.NET MVC app in this application I got the error;

It turns out the app pool account is missing some permissions for temp files. I've not pin pointed which files yet, but a work around is to add this PowerShell to the Dockerfile;

`Add-LocalGroupMember -Group 'Administrators' -Member 'IIS AppPool\DefaultAppPool';`

This is obviously not an ideal solution and it woul

[2017-06-21 10:03] FFLSH opened #34 "docker run prints 'Applied configuration changes to section "system.applicationHost/applicationPools" for "MACHINE/WEBROOT/APPHOST" at configuration commit path "MACHINE/WEBROOT/APPHOST"'"
When performing `docker run -i microsoft/aspnet` the following line is printed ~50 times:

`Applied configuration changes to section "system.applicationHost/applicationPools" for "MACHINE/WEBROOT/APPHOST" at configuration commit path "MACHINE/WEBROOT/APPHOST"`

This appears to have no effect on functionality, but leaves undesirable spam in the logs of that container

`docker version`:

Client:
 Ve

[2017-06-21 13:13] MichaelLogutov opened #35 "Changing pool name fails running the container"
Docker file:
[code]

Result (docker logs):
[code]

docker version
[code]

[2017-06-21 22:51] shirhatti commented on #35
@pan-wang Any idea what's going on here?

[2017-06-22 01:20] shirhatti commented on #34
Known. `ServiceMonitor.exe` shells out to `appcmd.exe` to promote environment variable set through docker -e and make it available to your application running as the IIS DefaultAppPool. We're making a change to only promote Environment variables explicitly added by a user and create an exclusion list for everything that exists by default. This change should reduce the output you see from appcmd.ex

[2017-06-22 03:03] pan-wang commented on #35
this is by design. We decided  user should only use default apppool (default apppol should always exist). ServiceMonitor will update environment variable for default apppool. Renaming default apppool will cause appcmd failure. @MichaelLogutov  is there any special reason that you want to rename/delete default apppool?

[2017-06-22 14:58] MichaelLogutov commented on #35
Mostly for consistency with our scripts. Not big deal - it's just stange that Service Monitor needed a "magic string" technique to work properly.

[2017-06-22 14:58] #35 closed

[2017-06-23 17:08] pbering commented on #33
Same issue here...: only workaround that I have found is to use the previous image `microsoft/aspnet:4.6.2-windowsservercore-10.0.14393.1198`

[2017-06-23 20:15] davideicardi commented on #33
Another workaround is to work on a different website. In my docker file I remove the default website and add a new one.

    RUN New-Item c:\webapp -type directory
    RUN Remove-WebSite -Name 'Default Web Site'
    RUN New-Website -Name 'webapp' -Port 80 -PhysicalPath 'c:\webapp' -ApplicationPool '.NET v4.5'

[2017-06-24 01:04] HongGit commented on #33
This is a known issue because ServiceMonitor has a different user profile from ApplicationPoolIdentity.  We are working on a fix, and will release an update.

Simple workaround is as @jaredfholgate suggests, change identity of the DefaultAppPool to Administrator or System.

[2017-06-27 04:26] timothies opened #36 "Can't start service - Lanmanserver on aspnet container"
I've created an empty container FROM microsoft/aspnet. when I connect to it ('docker exec -it *containerId* powershell')  and try to start the service Lanmanserver I get the following error.

(Note  I've attached the dockerfile/start script [which just sleeps to keep the container running.)

PS C:\> start-service lanmanserver
start-service : Failed to start service 'Server (lanmanserver)'.
At line

[2017-06-27 11:42] pbering commented on #27
Closing this for now since its on Docker Hub now...

[2017-06-27 11:42] #27 closed

[2017-06-29 14:07] artisticcheese commented on #13
This is already causing confusion and anger (https://stackoverflow.com/questions/44817861/windows-container-port-binding-not-working-on-windows-server-2016-using-docker/44827162#44827162)

[2017-06-30 22:20] sebagomez opened #38 "Cannot start a previously stoped container"
I have a Dockerfile based on `FROM microsoft/mssql-server-windows-developer:2016-sp1` where I then add the asp.net features. It looks pretty much like this:

    FROM microsoft/mssql-server-windows-developer:2016-sp1
    ENV ACCEPT_EULA=Y sa_password=Passw0rd

    RUN powershell -Command \
      $ErrorActionPreference = 'Stop'; \
      $ProgressPreference = 'SilentlyContinue'; \
      Add-WindowsF

[2017-07-01 02:37] mhedgpeth commented on #13
@shirhatti should this be reopened? Are there plans to fix this?

[2017-07-02 12:30] LouisDK commented on #38
I have a similar problem, or at least, I believe the root cause is the same as what @sebagomez reports above.

I'm using a docker container built with FROM microsoft/aspnet:4.7

Everything works when I create/run it for the first time, but when I stop the container, and start it again, it fails to start, reporting: ERROR ( message:New add object missing required attributes. Cannot add duplicate co

[2017-07-05 17:57] shirhatti commented on #38
This is dupe of https://github.com/Microsoft/iis-docker/issues/42 and is being tracked there. We are aware of the regression we introduced with a change to `ServiceMonitor.exe` and should have a fix out shortly.

[2017-07-05 17:57] #38 closed

[2017-07-05 18:34] sebagomez commented on #38
this issue was filed before the one being tracked :( why is that?

[2017-07-05 18:45] shirhatti commented on #36
@PatrickLang Is `lanmanserver` supported in containers?

[2017-07-05 18:56] PatrickLang commented on #36
No, it's not. Containers can only connect to SMB shares, not host them

[2017-07-06 02:00] tegaaa opened #39 "Latest version fails to start website from VS"
I downloaded the latest microsoft/aspnet and microsoft/windowsservercore and when I start and app from visualstudio which used to work without any issue it now fails with an access denied to some aspnet temp folder.  I scramble to get this working and reverted back to using image microsoft/aspnet:4.6.2-windowsservercore-10.0.14393.1198 which where the version that worked.  I'm not sure if it's a u

[2017-07-06 22:02] shirhatti commented on #39
@tegaaa I'm aware of the issue. It's because of a change to ServiceMonitor.exe that we introduced in June.
We have a pending PR https://github.com/Microsoft/aspnet-docker/pull/41 that should address this issue if you want to try it out

[2017-07-07 00:37] tegaaa commented on #39
I'm not sure it has to do with ServiceMonitor.exe it's a read-only error, can't copy a dll to the ASPNET temp folder.  The error also mentioned the fact that the apppool user might not have permissions to write to the temp location.

[2017-07-07 01:16] shirhatti commented on #39
We added a feature to ServiceMonitor.exe to allow you to flow Environment variables from `docker run -e ...` all the way to your application. The way we achieved this is by promoting environment variables set on the entrypoint process to the DefaultAppPool. While doing so, we didn't guard against promoting environment variables from the user profile of the entrypoint process. In your case, the `TE

[2017-07-07 03:06] tegaaa commented on #39
Ok. But that breaks all vs integration? Or is there something we need o do in the dockerfile to make this work?

Also on top of having the permission error the vs debugger is not attaching to the run apppool it give a weird error. I don’t have it handy but using the tag I mentioned preciously everything works.  Something is really odd with this latest build

Sent from my Windows 10 phone

From: So

[2017-07-10 15:18] FFLSH commented on #25
As these are Windows images, your Docker host will need to be set to run Windows containers. If you right-click the Docker whale in your task tray and click 'Switch to Windows containers' this may alleviate your problem.

[2017-07-13 21:37] mjrousos opened #42 "Dockerfile linked from hub.docker.com/r/microsoft/aspnet is incorrect"
On the [microsoft/aspnet](https://hub.docker.com/r/microsoft/aspnet) Docker Hub page, there's a Dockerfile tab but [the Dockerfile shown](https://hub.docker.com/r/microsoft/aspnet/~/dockerfile/) when following the link is not a microsoft/aspnet Dockerfile. It looks like an old Linux ASP.NET Core/DNX Dockerfile. The Dockerfile link should probably just be removed (or, at least, point to an up-to-da

[2017-07-25 08:53] colmprunty opened #43 "w3svc error"
I am getting the following error when deploying a container to a Windows Server 2016 instance on AWS:

`ERROR: Failed to stop or quesry status of service 'w3svc' error [800705b4]`

This seems to be a similar issue to [this one](https://github.com/Microsoft/iis-docker/issues/47) on the IIS dockerfile (the giveaway is "quesry"), but this image runs Service Monitor itself so I think it's relevant to

[2017-07-25 18:43] shirhatti commented on #43
Just a cursory look at the code and it looks like the call to `StartService` is timing out. This is something we don't observe in the happy path. So I suspect, there is something you are doing while building your container that's causing w3svc to fail to start. Can you share your Dockerfile?

cc @mcy94w @pan-wang

[2017-07-26 08:16] colmprunty commented on #43
Thanks for getting back to me, the Dockerfile looks like this:

[code]

And the Powershell file called at the end looks like this:

[code]

I've reverted back to .1358 and it's working fine again.

[2017-07-26 18:06] shirhatti commented on #43
Can you share this docker image? Either by pushing to a registry or  by emailing me a link. There is nothing immediately apparent, but we really want to take a closer look at it.

[2017-07-26 19:37] colmprunty commented on #43
I can't share the image, I'm afraid, it's work stuff.

[2017-07-26 20:51] shirhatti commented on #43
Given that it fails while attempting to start up, it probably has nothing to do with your app contents. it's something you're doing in either `$env:APPLICATION_NAME.IisConfigTool.exe` or one of your PowerShell scripts.
Could you try working your way down to a minimal repro that you can share?

Another thing that might give us a clue is your final `applicationHost.config` just before you attempt to

[2017-08-10 07:56] lushare commented on #34
i thank you use ”appcmd.exe“ create site。you have to commit you configure

[2017-08-11 07:22] sandersaares opened #44 "Changing shell also affects derived images"
Commit https://github.com/Microsoft/aspnet-docker/commit/6f15ac6c51872c30bb94436b6d12c1622ca9f7f7 added the following to Dockerfiles:

[code]

This sets a non-default shell (the default being cmd.exe). This may be unexpected by derived images that expect the shell to be cmd.exe. Upgrading to the latest image broke some of our derived images due to this. It would be "nicer" if these base layers did

[2017-08-12 00:01] shirhatti commented on #44
Agreed. Unfortunately, reverting it would result in another breaking change since we've made this change 3 months ago.
We definitely plan to not customize the shell any further.

[2017-08-12 00:01] #44 closed

[2017-08-16 21:43] #5 closed

[2017-08-16 21:46] shirhatti commented on #14
This work is being tracked here https://github.com/MicrosoftDocs/Virtualization-Documentation/pull/592

[2017-08-16 21:46] #14 closed

[2017-08-16 21:49] shirhatti commented on #17
@rainmakerho Sounds like a point in time issue. Feel free to open a new issue if you're still having issues

[2017-08-16 21:49] #17 closed

[2017-08-16 21:51] shirhatti commented on #19
Sure. You can use `gacutil` in your Dockerfile

[2017-08-16 21:51] #19 closed

[2017-08-16 21:52] shirhatti commented on #22
This issue has been fixed according to https://github.com/moby/moby/issues/31093#issuecomment-296852851

[2017-08-16 21:52] #22 closed

[2017-08-16 21:54] shirhatti commented on #23
Install a cert and set up an https binding. You can use the IISAdministration PowerShell cmdlets/appcmd.exe to achieve that

[2017-08-16 21:54] #23 closed

[2017-08-16 21:58] shirhatti commented on #30
Fixed

[2017-08-16 21:58] #30 closed

[2017-08-16 21:59] shirhatti commented on #33
This has been fixed as of the 10.0.14393.1480 (July) updates

[2017-08-16 21:59] #33 closed

[2017-08-16 22:00] shirhatti commented on #25
@AaronVanderwielen Feel free to re-open if you're still seeing this issue

[2017-08-16 22:00] #25 closed

[2017-08-16 22:03] shirhatti commented on #34
Tracking this issue here https://github.com/Microsoft/IIS.ServiceMonitor/issues/6

[2017-08-16 22:03] #34 closed

[2017-08-16 22:03] shirhatti commented on #39
This is been fixed in the 10.0.14393.1480 (July) updates

[2017-08-16 22:03] #39 closed

[2017-08-16 22:04] shirhatti commented on #42
Dupe of #2

[2017-08-16 22:04] #42 closed

[2017-08-16 22:07] shirhatti commented on #43
@colmprunty Please re-open if you can share your `applicationHost.config` or a minimal repro?

[2017-08-16 22:07] #43 closed

[2017-08-16 22:08] #36 closed

[2017-08-29 07:48] yotewach opened #45 "Can docker image support .NET 2.0"
Hi can you build the image that support the ASP.NET V2 because current we have support this version but i can find any image on NET 2.0

[2017-08-29 08:58] shirhatti commented on #45
I'm assuming you're talking about .NET Framework, in which case you should the ASP.NET 3.5 image since the 3.5 Framework was an in-place update for 2.0.

If you meant ASP.NET **Core** 2.0, checkout https://github.com/aspnet/aspnet-docker

[2017-08-29 08:58] #45 closed

[2017-08-29 11:25] sandersaares opened #46 "Readme says that both 4.6.2 and 4.7 are tagged latest"
There can be only one!

[2017-08-29 17:55] #46 closed

[2017-08-30 06:51] vladimir-kazakov opened #47 "Errors while starting ServiceMonitor manually"
When I start ServiceMonitor inside a container for the first time, I see the following output:

ERROR ( message:Cannot find requested collection element. )

Terminating it and starting ServiceMonitor again results in the following output:

These errors (in the first quote) happen only if starting ServiceMonitor manually. Without overriding the entry point, everything works as expected and the outp

[2017-09-04 17:25] red8888 opened #48 "Documentation still outdated for site_root arg"
This issue was filed like 10 months ago: https://github.com/Microsoft/aspnet-docker/issues/11

The docs are _still_ outdated. The main page has this under "how to use these images":
`docker build -t aspnet-site --build-arg site_root=/ .`

Would be an easy fix to save people some time from googling the error and being directed to the github issue i linked to above.

[2017-09-13 18:31] richardzyx opened #51 "Bundling with Razor throws COMException"
We are trying to dockerize our ASP.NET MVC5 app and got the following error at Line 9. We ran into the same issue before when dealing with bundling, but this time with docker we are not sure if it's a problem on the project side or caused by missing dependency in dockerfile. The dockerfile is straightforward and only uses FROM microsoft/aspnet as the base image.

The Web API part of our applicatio

[2017-09-13 20:54] shirhatti commented on #51
@Eilon My naive guess this has something to do with System.Web.Optimization. Do you know who is right person to have a look?

[2017-09-13 20:59] Eilon commented on #51
@richardzyx can you show the full stack trace of the exception? I don't believe that there's any COM interop when using bundling, even with the underlying components that is uses, but @haok can confirm that. This looks quite odd to me.

[2017-09-13 21:32] HaoK commented on #51
Yeah bundling doesn't do any COM itself, and unless AjaxMin uses COM the interop exception shouldn't be coming from bundling

[2017-09-14 15:32] richardzyx commented on #51
@Eilon Yes I have the full exception pasted down. We've tried with compilation debug on and off, and all combo of release and debug settings. Could it be the bundling with `"~/..."` is somehow not working with docker?

Last time we ran into the same issue, it was caused by introducing the ReactJS.NET package and editing web.config. We guessed it somehow broke part of bundling pipelines but couldn'

[2017-09-14 16:25] HaoK commented on #51
Thanks for the call stack looks like the exception is coming from your less transformer

[code]

[2017-09-14 16:56] richardzyx commented on #51
@HaoK Thanks for pointing that out! Hmm I don't think we did anything special with less, but I will look into it and get back to you.

Thanks again!

[2017-09-14 17:01] richardzyx commented on #51
And I think @shirhatti has the right hunch, it does have something to do with System.Web.Optimization

[2017-09-14 17:04] HaoK commented on #51
The BundleTransformer is a 3rd party package that isn't part of Optimization itself

[2017-09-14 17:25] richardzyx commented on #51
Yes I am aware of that. BundleTransformer did make use of Optimization so I want to pinpoint what changed when running in the docker environment, and how to fix it. Thanks for your quick reply!

[2017-09-14 18:36] richardzyx commented on #51
Thank you all for the help, and you can close this issue. It's caused by bundle transformer's dependency on IE and the fact that there's no plan for IE on docker in near future.

Thanks for your time and help!

[2017-09-14 18:37] #51 closed

[2017-09-15 12:08] RehanSaeed opened #52 "The library 'libhostpolicy.so' required to execute the application was not found"
I'm not certain where to post this issue. I get the following error when running one of two docker containers using the ASP.NET Core 2.0 linux image:

[code]

The container runs fine when being run using Visual Studio's Docker Support project. It only throws the above error when running on Docker for AWS which uses Moby linux for the host OS.

I get no further information than that unfortunately.

[2017-09-18 15:01] shirhatti commented on #52
This issue was moved to aspnet/aspnet-docker#301

[2017-09-18 15:01] #52 closed

[2017-10-04 08:36] sixeyed opened #53 "ASP.NET layers not flagged as "foreign""
Seeking clarification on this. I build an image based on `microsoft/aspnet:3.5-windowsservercore-10.0.14393.1715`, tag it and push to a private registry. The two Windows Server base layers are not pushed (they're foreign layers), but the next three layers from the ASP.NET image are pushed. These total 3.7GB:

![aspnet-foreign-layers](https://user-images.githubusercontent.com/157413/31166662-6f91f6

[2017-10-05 19:30] shirhatti commented on #53
Duly noted and definitely worth exploring.
I'm not familiar with what the guidance is for whether something should be marked as a foreign layer or not. Is this something that's already well defined?

[2017-10-06 17:45] ysijason commented on #51
@richardzyx

FYI we fixed this in our environment by manually adding chakra and jscript dlls. In our case we were using windows 2016 core which doesn't come with IE.

[2017-10-13 04:13] richardzyx commented on #51
Thanks @ysijason. We ended up doing similar thing using the JS engine switcher and switched to chakra.

[2017-10-13 04:19] zhenlan opened #55 "The content at https://store.docker.com/images/aspnet is repeated twice"

[2017-10-19 14:19] kvonbredow commented on #47
I am experiencing similar issues, though for me these errors happen when I both start the ServiceMonitor manually and when using it as my entrypoint for `docker run` .

For me, the container host is running Windows Server Build 14393.1770 and while I see these errors in containers based on the windows server core images tagged **'10.0.14393.1770'** and **'10.0.14393.1715'**, it seems to work just

[2017-10-21 16:29] 1oglop1 commented on #13
Why is this not written in official documentation? I'm reading through it for 2 weeks and still finding only github issues with scattered information!

[2017-10-24 18:14] pradley opened #58 "DLL Not found C:\Windows\Microsoft.Net\Framework64\v4.0.30319\WPF\wpfgfx_v0400.dll"
When using my asp.net application inside of a docker container it says the specified module could not be found and errors out.
When I docker exec into the container and cd to the path above I do actually find the DLL.

![image](https://user-images.githubusercontent.com/9398978/31960317-3c438692-b8ac-11e7-988d-210f71a5bd04.png)

I have no idea what the problem is or why it cant load a file that is

[2017-10-25 01:44] shirhatti commented on #55
Fixed

[2017-10-25 01:44] #55 closed

[2017-10-25 16:41] flowdopip opened #59 "Replace application settings through environment variables"
Hi,

I don´t know if this is the right place to post this issue. If not please sorry!

I have a application in .net core 2.0 and i´ve created a folder for application settings
/config/servicediscovery.json

Sample
{
    "Service": {
        "Enabled": true,
        "Url": "http://localhost:8500",
        "ServiceId": "service",
        "ServiceName": "service",
        "ServiceUrl": "http://localh

[2017-10-26 00:33] brucemanson opened #60 "Docker Window Image not utilizing the ARGS correctly"
HOST OS: Windows 10

Client:
 Version:       17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:              Tue Sep 26 22:40:09 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.24)
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:50:27 2017
 OS/Arch:      windows/amd64
 Experimen

[2017-10-30 17:44] samiraguiar commented on #43
@colmprunty Did you ever manage to fix it?
I'm facing this issue right now.

[2017-10-30 18:50] colmprunty commented on #43
Yeah as I said initially, I only had this problem on a newly created server on the first run, but that wasn't much use for autoscaling. I think I stayed on 1358, but I'll check when I get into work tomorrow.

[2017-11-01 17:37] MichaelSimons opened #63 "Add support for building ASP.NET applications with Docker"
Microsoft should produce Docker images that can be utilized to build ASP.NET applications.

[2017-11-01 17:38] MichaelSimons commented on #63
Depends on https://github.com/Microsoft/dotnet-framework-docker/issues/38

[2017-11-01 21:03] shirhatti opened #64 "Can't run `microsoft/aspnet` interactively"
_From @mrichman on November 1, 2017 20:52_

Can't run `microsoft/aspnet` interactively using `docker run -it microsoft/aspnet:latest cmd.exe`

[code]
Output of `docker info`:

[code]

_Copied from original issue: aspnet/aspnet-docker#323_

[2017-11-03 12:38] StingyJack opened #65 "Does not work out of the box. "The system cannot find the file specified""
Create a new asp.net mvc web application (no netcore)
Add a local filesytem publish profile
Add Docker Support
Publish or Build
Run `docker build -t microsoft/iis`

Get
[code]

The documentation appears to weave between netfx and netcore and I cant tell which is which or if it matters. I did try to change the COPY path to `./bin/Release/PublishedOutput` but it still resolves to `C:\WINDOWS\TEMP\do

[2017-11-03 17:58] CESARDELATORRE commented on #65
@StingyJack - VS2017 works with Docker containers, so it must be an issue related to the environment.
Several questions that might be obvious, but just in case:
- I supposed you installed "Docker for Windows" first.
- Since you are using a "FROM Microsoft/iis", that means you are using .NET Framework and IIS, so it needs to use Windows Containers. It cannot be Linux containers. Did you switch to W

[2017-11-03 19:30] allenerb commented on #64
Any update on this?  I have the same problem.

Added Docker Support to an existing application in Visual Studio 2017, and when I try to launch a debug version of the docker container, I get this same problem.

Running Windows 10 Pro inside VMWare Fusions from Macbook Pro
OS: Windows 10 Pro
Version: 1703
Build: 15063.674

**Docker Info:**
Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 6
S

[2017-11-03 19:41] justinshea commented on #35
@pan-wang I am testing a website with sub-applications that are meant to run on separate app pools. I am getting the following error on run:

`app_1  | ERROR ( message:Cannot find requested collection element. )`
`app_1  | Applied configuration changes to section "system.applicationHost/applicationPools" for "MACHINE/WEBROOT/APPHOST" at configuration commit path "MACHINE/WEBROOT/APPHOST"`
`Gracefu

[2017-11-03 21:54] pan-wang commented on #35
No. What I said is that the default behavior for IIS container image is that the image has a default website and default application pool. User can just map the application to the wwwroot folder and the default scenario will work automatically without configuring/changing docker file.
For advanced scenarios (e.g., multiple sites, different application pools, sub applications), they are fully suppo

[2017-11-03 22:57] StingyJack commented on #65
Yes, docker for windows with windows containers, right clicked the vs project to add docker support, built project, then tried to run the `docker build` command.  I had gone through some of those steps a bunch of times trying to get past Symantec's nonsense before finally just uninstalling SEP.

I have been able to use the microsoft/nanoserver image and run a simple copy of a powershell script fro

[2017-11-03 23:25] CESARDELATORRE commented on #65
I just want to isolate the issue, that's why I'm suggesting not to add the local file system publish and make a regular "hello world" Windows Container work, which should work.

About sharing drives, you can see that is a requirement for VS in the basic getting started page, almost right at the beginning:
**Visual Studio Tools for Docker**
https://docs.microsoft.com/en-us/aspnet/core/publishing/vi

[2017-11-03 23:38] justinshea commented on #35
@pan-wang thank you for clarifying. That makes a lot more sense now.

There was a typo in the sample dockerfile that I shared. I am fairly confident the actual one I am using is set-up properly to achive the desired set-up yet I continue to get the error:

`ERROR ( message:Cannot find requested collection element. )`

Is there a way to investigate the error message in further detail from within th

[2017-11-06 03:59] pan-wang commented on #35
Could you please share the applicationhost.config file inside the container? Based in that file,  we can tell what's wrong.

On 2017-11-03 16:38 , JustinShea<mailto:notifications@github.com> Wrote:

@pan-wang<https://github.com/pan-wang> thank you for clarifying. That makes a lot more sense now.

There was a typo in the sample dockerfile that I shared. I am fairly confident the actual one I am usi

[2017-11-06 17:08] RehanSaeed opened #66 "Docker Read-Only File System"
I learned that you have the ability to set the file system to [read-only](https://docs.docker.com/engine/reference/commandline/run/#mount-volume--v-read-only) in docker by setting a simple boolean flag. Any custom volumes you've specified remain unaffected. This seems like a great little flag to turn on for some added security, so I tried it out and got the following error from my ASP.NET Core 2.0

[2017-11-06 17:26] justinshea commented on #35
Thanks @pan-wang

The good news is that I discovered when running "docker-compose up" with "-d" flag the error output is suppressed and the container is initialized and reachable as expected. I suspect the container was always reachable but I was just being thrown off by the error output in non detached mode.

The bad news is that the error is still there so while it is not killing things it is ce

[2017-11-06 18:28] pan-wang commented on #35
ERROR ( message:Cannot find requested collection element. ) , This error message is an known issue and ignorable. It was generated when servicemonitor.exe tried to delete non-exist configuration element.

Not sure about "cannot serve static content from its directory". Could you please share more details about it and the error code/page from client?

@mcy94w  could you please take a look it?

[2017-11-06 18:48] mcy94w commented on #35
@justinshea
If would be very helpful if you can share your image with us through dockerhub.

[2017-11-06 19:34] justinshea commented on #35
@pan-wang  @mcy94w
i'll look into sharing the image. I am new to docker and this my company's domain so it might take a minute to get approval and figure out how to do it :)

Meanwhile I am putting together further details about the static content server issues to share here.

At this point I would be surprised if it is an issue with the image. Seems more likely to be a configuration detail concer

[2017-11-07 12:00] justinshea commented on #35
There are not too many details on response to client. When requesting a static file it is a simple text response:

`The page cannot be displayed because an internal server error has occurred.`

Header:
`HTTP/1.1 500 Internal Server Error
Content-Type: text/html
Server: Microsoft-IIS/10.0
Date: Tue, 07 Nov 2017 00:09:37 GMT
Content-Length: 75`

In the IIS logs:

`2017-11-06 23:23:50 172.26.59.53 GE

[2017-11-07 12:46] justinshea commented on #35
@pan-wang @mcy94w
What are your docker hub user names?

[2017-11-07 14:36] StingyJack commented on #65
I don't think I installed any specific "VS tools for docker" unless it was buried in the workload selections. I just right clicked the project and chose Add, docker support as that's what is step 1 on most of the tutorials.  I will definitely read through that link though. Thanks!

[2017-11-07 19:44] mcy94w commented on #35
@justinshea you have to create you own dockerhub account and push the image. After you push the image, we can pull on our side.

[2017-11-07 20:05] mcy94w commented on #35
@justinshea  my account is mcy94w

[2017-11-07 20:12] justinshea commented on #35
Thanks. @mcy94w
I've added added you as a collaborator to justinmshea/areadev

[2017-11-07 23:07] justinshea commented on #35
Hi. My new theory is that this is a web.config issue. My app was recently converted from 3.5 **manually**. There may be some artifacts in the app level web.config that are causing the error? All other environments I have tested the 4. configuration in have had 3.5 enabled as well but this image does not (understandably). So, presently, I am looking into cleaning up the web.config 👍 or adding 3.5 t

[2017-11-09 02:51] justinshea commented on #35
Any feedback is appreciated. I've tried troubleshooting web.config file and numerous variations on ACLs with no success.

[2017-11-09 16:18] samiraguiar commented on #43
@colmprunty thanks for getting back. I'm using later versions and sometimes when starting a container I get that error. So this is probably related to Windows updates, like you said, though I don't know which.

[2017-11-10 08:56] ktsangop opened #68 "Add support for installing msi packages that depend on oledlg.dll"
After a long research and experimentation, while trying to install Crystal Reports Runtime for .NET, i have found out that the installation package depends on oledlg.dll.

As described here in more detail, this DLL file is not included on the Windows Server Core container :
[Windows 2016 container and Crystal Reports Runtime]
(https://social.msdn.microsoft.com/Forums/sqlserver/en-US/20588e86-c8fa-

[2017-11-13 18:34] justinshea commented on #35
Hi @mcy94w
Still no success here. Have you been able to look at the image? I've been through hundreds of permutations at this point and I'm about ready to throw in the towel. I believe there is a problem when serving static files from a directory other then "c:/inetpub/wwwroot". Or perhaps, the problem is related to using new apppool profiles other then default. Bottom line, I do believe the probl

[2017-11-13 21:40] justinshea commented on #35
@mcy94w
Problem solved. this was not a aspnet:4.7 build issue but a clash with the applicationhost.config file as a result of migrating to a newer version of IIS then my previous environment. I wish IIS gave me more info other then 500.19 but I also should have identified the underlying issue a lot sooner and shouldn't have gummed up the works here...
Thanks

[2017-11-15 19:04] richardgavel commented on #66
I don't see anything that suggests this is something that goes in the Dockerfile, just a container runtime feature. Now it's possible that CoreCLR has code within it that tries to open files in a non-read-only mode...

[2017-11-15 23:02] shirhatti commented on #66
This could possibly be achieved by specifying volume mounts corresponding to every directory that ASP.NET and your application may write temporary write files to.

@RehanSaeed if you want to give it a shot, we can help you through issues you encounter along the way.

@csharpfritz and @HongGit what are your thoughts on this?

[2017-11-16 09:25] RehanSaeed commented on #66
Typical ASP.NET Core apps don't use any temporary directories that I'm aware of. Volume mounts should work but I don't know which directories .NET Core needs write access to.

[2017-11-16 11:04] BrettSun opened #69 "ERROR ( message:Cannot find requested collection element. )"
ERROR ( message:Cannot find requested collection element. )

[2017-11-16 19:21] shirhatti commented on #66
Ah sorry. This is the repo for ASP.NET, not ASP.NET Core. You're probably looking for https://github.com/aspnet/aspnet-docker

[2017-11-16 22:34] bsedg commented on #64
@shirhatti Not sure if this directly answers your question, but you could try creating a Dockerfile and specify the entrypoint to be `["powershell"]`:

[code]
Otherwise if you don't overwrite the entrypoint, the entrypoint is defined as `ENTRYPOINT ["C:\\ServiceMonitor.exe", "w3svc"]`. When you add `cmd.exe` as the run parameter, it is attempting to add that as an argument after `ServiceMonitor.ex

[2017-11-17 09:25] RehanSaeed commented on #66
Moved to https://github.com/aspnet/aspnet-docker/issues/331

[2017-11-17 09:25] #66 closed

[2017-11-20 20:09] natemcmaster opened #70 "ASP.NET Windows container with support for web.config overrides at startup"
_From @spboyer on November 20, 2017 20:0_

See https://github.com/anthonychu/aspnet-env-docker

Add image variation to have web.config settings pulled from ENV.

cc: @anthonychu, @richlander

_Copied from original issue: aspnet/aspnet-docker#333_

[2017-11-20 22:44] MarekLani commented on #33
I am still getting the error. Sample WebApp ASP.NET added docker support. Works when runninng from Visual Studio when trying to run image directly thru docker I get over mentioned erorrs

[2017-11-21 01:42] sebagomez commented on #69
I have the same issue with this simple dockerfile

    FROM microsoft/aspnet:4.6.2
    LABEL com.genexus.maintainer="sgomez"
    COPY ["<folder with bins>", "c:/inetpub/wwwroot/"]

build
`docker build -t solohomenet .`

run
`docker run --rm solohomenet`

Same error:

Applied configuration changes to section "system.applicationHost/applicationPools" for "MACHINE/WEBROOT/APPHOST" at configuration co

[2017-11-21 05:58] RickStrahl commented on #52
Seeing this as well. I'm trying to run an app that runs fine on from the Publish folder. It fails both in the Bash shell and in a docker container.

In the Windows Bash shell I can `dotnet run` and the app runs. But when I publish and cd into the publish folder and then run `dotnet <myMainDll>` I get the error:

Now this app is a ported old app, so my guess here is it has to do with Linux incompat

[2017-11-21 09:28] RehanSaeed commented on #52
@RickStrahl I feel your pain, I was banging my head against the wall on this error for a while. This issue was moved to https://github.com/aspnet/aspnet-docker/issues/301, in it I mention that this error went away for me but I'm not certain why or what I changed to make it so.

[2017-11-21 11:07] janvorli commented on #52
@RickStrahl could you please run it with shared library linker debugging on to see where it tries to look for the library like this:
[code]
and then share the output e.g. using gist (it is quite extensive)? That should help us to pinpoint why the library was not located.

[2017-11-21 22:50] anthonychu commented on #70
The motivation behind this is to create a good story for folks who can't or don't want to update to 4.7.1 and make code changes in order to use environment variables for configuration, like typical Docker images.

The image I created is just a proof of concept, but it shows that it's possible to support a true lift-and-shift scenario where we can simply copy the build output into the image with ze

[2017-11-22 09:22] oskiFP opened #71 "Cannot pull microsoft/aspnetcore - Failed to register layer"
Pulling microsoft/aspnetcore image fails.

Execution of  `docker pull microsoft/aspnetcore` command results in:

[code]

**System specification:**
CPU: AMD Athlon FX-4100
RAM: 12GB,
MOTHERBOARD: Gigabyte GA-970A-D3
OS: Windows 10 Pro

[2017-11-22 09:22] oskiFP opened #191 "Cannot pull microsoft/aspnetcore - Failed to register layer"
Pulling microsoft/aspnetcore image fails.

Execution of  `docker pull microsoft/aspnetcore` command results in:

[code]

**System specification:**
CPU: AMD Athlon FX-4100
RAM: 12GB,
MOTHERBOARD: Gigabyte GA-970A-D3
OS: Windows 10 Pro
Kernel Version: 10.0 15063 (15063.0.amd64fre.rs2_release.170317-1834)
Docker for Windows: Docker version 17.09.0-ce, build afdb6d4

[2017-11-27 17:20] MichaelSimons opened #72 "Update Dockerfiles to use COPY instruction rather than ADD"
To conform with [Dockerfile best practices](https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#add-or-copy), the COPY instruction is preferred over ADD.  All Microsoft Dockerfiles should be following the best practices as they are often referred upon and copied.

Related to https://github.com/Microsoft/dotnet-framework-docker/issues/45

[2017-11-27 17:46] MichaelSimons opened #73 "Consider setting the backtick as the escape character in the Dockerfiles"
Using the backtick as the escape character in Windows based Dockerfiles has several advantages.  See the [Dockerfile Reference](https://docs.docker.com/engine/reference/builder/#escape) for details.  While it is not necessary, I believe it would be beneficial for Microsoft Dockerfiles to use the backtick escape character over the default backslash since they are often referenced and copied by many

[2017-11-27 20:18] MichaelSimons opened #74 "ltsc2016 based Dockerfiles should use a tag in the FROM that explicitly indicates ltsc2016"
Currently the 4.7.1 ltsc2016 based Dockerfile uses the following FROM

`FROM microsoft/dotnet-framework:4.7.1`

The `microsoft/dotnet-framework:4.7.1` tag is a manifest backed tag therefore the Windows version the image is based on is ambiguous.  It would arguably be better to use a tag that explicitly calls out the Windows Server version (e.g. microsoft/dotnet-framework:4.7.1-windowsservercore-lt

[2017-11-27 22:10] shirhatti commented on #73
Do we need to explicitly set this or will this be inherited from the dotnet framework images?

[2017-11-27 22:15] MichaelSimons commented on #73
`ESCAPE` is a Dockerfile directive and doesn't impact the image therefore it needs to be explicitly set.

Note: This is why it acceptable to make this change - it won't affect any Dockerfiles that are based on the microsoft/aspnet images.

[2017-11-28 13:43] spboyer commented on #70
I agree with @anthonychu thoughts on this. @taylorb-microsoft thoughts here?

[2017-11-28 15:43] taylorb-microsoft commented on #70
We've definitely had requests for this type of functionality.  What's the argument against it?

[2017-11-29 06:08] richlander commented on #70
Isn't this something best handled via multi-stage build instead of container startup?

[2017-11-29 08:01] anthonychu commented on #70
We would like to follow the common pattern of building an image once, then deploying that image to different environments. To do this, the container needs to be configurable for each environment at startup.

[2017-11-29 17:02] taylorb-microsoft commented on #70
I agree with both Richard and Anthony :)...  There are many settings that I think would be best configured during image build but I also see value in run-time configuration and this is something we've heard from customers as well... Today if I wanted to temporarily change a setting (like error pages for example) I have to either build a new container image or interactively modify the container - I

[2017-11-30 17:02] MichaelSimons commented on #60
@brucemanson - The reason for this is because the `microsoft/aspnet` image has specified `PowerShell` as the `SHELL` - see https://github.com/Microsoft/aspnet-docker/blob/master/4.7.1-windowsservercore-ltsc2016/runtime/Dockerfile#L3.  Because of this, you must use the PowerShell constructs to reference environment variables.

[code]

[2017-11-30 19:43] csharpfritz commented on #70
.NET 4.7.1 is an in-place update for and no code changes are needed to load data into web.config or app.config using ConfigurationBuilders.  Add the NuGet package, entries in your config file for what you would like to update, and it works.  No recompile is needed, just change the target framework in your web.config file.
The challenge with adding a script to the Docker container start process is

[2017-11-30 19:43] HongGit commented on #68
@shirhatti can you please route this to the right team?

[2017-11-30 21:17] shrishrirang commented on #47
Seeing the same issue with `microsoft/aspnet:4.7.1` and when using `docker run`. The site works fine though. Can you share some info on this and if it is safe to ignore these errors (given that the site is working fine)?

[2017-12-04 02:17] westmatte opened #76 "Windows defender/update issues"
Hello! I'm not sure if this is just me having this issue, or if it is for everyone. I'm creating an ASP.NET Web API in a Docker Container for Windows that uses Windows defender to scan incoming files, but using this image I'm not able to use windows defender. My stackoverflow issue for more details:

https://stackoverflow.com/questions/47625152/windows-defender-update-issues-when-running-inside-wi

[2017-12-04 14:26] veaceslc opened #77 "Building image fails at ADD ServiceMonitor.exe /"
When running docker build -t aspnet-site --build-arg site_root=/ .

build fails at step 4:
Step 4/8 : ADD ServiceMonitor.exe /
ADD failed: GetFileAttributesEx \\?\C:\Windows\TEMP\docker-builder514299249\ServiceMonitor.exe: The system cannot find the file specified.

Windows Server 2016 Version 1607 Build 14393.447
Docker Version 17.09.0-ce-win33 (13620)

Any ideas?

[2017-12-07 22:17] MichaelSimons opened #78 "ServiceMonitor.exe should be a downloaded asset."
The ServiceMonitor.exe should be downloaded within the Dockerfile instead of copied from the build context.  The following are reasons to do this.

1. It is currently copied within 6 different locations within the repo.  This number will soon grow with #67.
2. Pulling the resource from a public URL will allow anyone to easily duplicate the ASP.NET Dockerfiles as needed.  There are several scenario

[2017-12-14 20:11] wsun4ipipeline opened #80 "2.0-jessie image got critical vulnerable during docker hub security scan"
## Steps to reproduce the issue
(e.g. copy your Dockerfile or docker-compose.yml file here)
1.push the docker image microsoft/aspnetcore:2.0.4-jessie to hub.docker
2.check the tag tap for  security scan result after couple hours when the result available
3.

## Expected behavior
no critical vulnerable

## Actual behavior
20 of 239 components are vulnerable

## Output of  docker hub security scan

[2017-12-14 20:16] #80 closed

[2018-01-03 08:45] sandersaares opened #81 "Missing version-specific tags"
The December batch of images appears to be missing the version-specific/KB-specific tags that allow a specific Windows base image to be targeted (e.g. `4.7.1-windowsservercore-1709_KB4048955` or `4.7.1-windowsservercore-10.0.14393.1884` from November).

If this is not intentional, please add them once more.

[2018-01-04 15:07] caokennedy commented on #47
Having the same issue with docker run microsoft/aspnet. Has anyone with this issued resolved it?

[2018-01-04 18:49] HongGit commented on #47
@mcy94w and @shirhatti can you please take a look?

[2018-01-04 18:52] HongGit commented on #81
@mcy94w can you please comment?

[2018-01-04 18:58] mcy94w commented on #81
Hi @sandersaares:

We no longer publish version-specific tags anymore. For details. Please check this document.

https://github.com/dotnet/announcements/issues/38

[2018-01-04 18:58] #81 closed

[2018-01-04 19:46] shirhatti commented on #47
This issue was moved to Microsoft/IIS.ServiceMonitor#16

[2018-01-04 19:46] #47 closed

[2018-01-04 20:07] #60 closed

[2018-01-05 01:38] mcy94w commented on #77
Did you have the service monitor side by side with your dockerfile

[2018-01-05 19:28] Sean-Brown opened #82 "Building .NETFramework v4.6.2 solution fails"
I'm experimenting with building my .NET 4.6.2 project in a container and MSBuild fails with the following errors:

Followed by a long list of errors relating to not being able to compile interpolated strings:

I had encountered this exact issue on a previous container based on the generic windowsservercore image where I installed .NET 4.6.2 via chocolatey; I figured the problem had to do with how

[2018-01-05 19:32] Sean-Brown commented on #82
Oh sorry I see I need to add some kind of [targetting](https://stackoverflow.com/questions/39233487/vsts-hosted-build-net-framework-4-6-2).

[2018-01-05 19:32] #82 closed

[2018-01-11 10:32] sixeyed opened #83 "Include full Windows version in Docker image tags"
Previous releases of the images had a tag which suffixed the Windows release they were based from, e.g. `microsoft/aspnet:4.7.1-windowsservercore-10.0.14393.1884`. These long tags are a bit cumbersome but they're idempotent and explicit about what the image is based on, so you can ensure everyone is on the same base image.

New releases are using a more generic tag, eg. `microsoft/aspnet:4.7.1-win

[2018-01-11 11:06] caokennedy commented on #64
Any update on this issue? I have the same error message appearing. Also tried using the powershell entry point to no avail.

Error occurs when trying to run microsoft/aspnet with docker run aspnet:latest on Windows Server 2016 VM

ERROR ( message:Cannot find requested collection element. )
Applied configuration changes to section "system.applicationHost/applicationPools" for "MACHINE/WEBROOT/APPHO

[2018-01-11 11:23] caokennedy commented on #64
I had a similar issue and **docker run -it --rm --entrypoint powershell _aspnet_** worked

[2018-01-12 23:49] HongGit commented on #76
@PatrickLang is windows defender turned enabled in the base image?

[2018-01-13 00:15] HongGit commented on #72
I have scanned all DockerFiles, and find that all COPY commands are replaced with ADD.

[2018-01-13 00:46] MichaelSimons commented on #72
@HongGit - not sure I understand your comment.  The recommendation is to use `COPY`, not `ADD`.

[2018-01-13 01:14] HongGit commented on #72
@MichaelSimons my bad.  I will fix that.

[2018-01-15 03:52] AceHack opened #84 "readme.md issue"
Doc says

As far as I can tell this is not true, it's using server code 1709.  Thanks.

[2018-01-17 15:08] MichaelSimons commented on #83
@sixeyed - The topic of idempotent tags is one that I struggle with.  As I look around the Docker community it seems far more often the tags aren't idempotent.  What I would consider the normal pattern is `openjdk:8u151-jre-stretch`, this isn't idempotent as it doesn't identify the specific OS version the image is based on.  `microsoft/aspnet:4.7.1-windowsservercore-ltsc2016` aligns with this patt

[2018-01-17 22:09] natemcmaster opened #86 "unauthorized: authentication required"
_From @eliassal on January 17, 2018 8:37_

Hi, whenever I try
docker pull microsoft/aspnet, I get

[code]
any help? Opened a thread on docker site, nobody responded. My platform is Docker for windows as follows

If you are having an issue with microsoft/aspnet, please open an issue on https://github.com/Microsoft/aspnet-docker.
This repository is for microsoft/aspnetcore and microsoft/aspnetcore-b

[2018-01-17 22:09] natemcmaster commented on #86
_From @eliassal on January 17, 2018 8:47_

Just to confirm that win 10 firewall is completely desactivated

[2018-01-18 19:03] eliassal commented on #86
Any feedback team? I am really blocked on progressing on my POC

[2018-01-18 19:51] natemcmaster commented on #86
cc @MichaelSimons @richlander

[2018-01-18 21:02] MichaelSimons commented on #86
@eliassal - Are you able to pull any images (e.g. `microsoft/nanoserver` or `microsoft/dotnet`)?

[2018-01-18 21:38] HongGit commented on #72
This has been fixed in PR#85.

[2018-01-18 21:38] #72 closed

[2018-01-18 21:39] HongGit commented on #73
This has been fixed in PR#85.

[2018-01-18 21:39] #73 closed

[2018-01-18 21:40] HongGit commented on #74
This has been fixed in PR#85.

[2018-01-18 21:40] #74 closed

[2018-01-18 23:17] eliassal commented on #86
microsoft/dotnet went through

docker pull microsoft/aspnet from 2 win10 machines 1st one has "Windows on docker", the 2nd has windows for Docker", outcome exactly the same

[2018-01-18 23:29] MichaelSimons commented on #86
@eliassal - can you include the output from `docker info`?

[2018-01-18 23:41] eliassal commented on #86
Michael, I switched to "linux container" mode, whatever command I issue I get

What is wrong with this docker, I did an update last week to last version

[2018-01-19 00:14] eliassal commented on #86
Docker info for the VM that has Docker for windows

Docker info for the VM that has docker on windows 10

[2018-01-19 00:19] eliassal commented on #86
The outpot of docker version -f "{{ .Server.Os }}"  is WINDOWS, but right clicking the whale, it shws "Switch to Windows" which means I switched to windows as you can notice in the snapshot , strange No?
![dockeswitch](https://user-images.githubusercontent.com/8447864/35128404-aef7ae72-fcb6-11e7-9e21-fc4be6c0a151.png)

[2018-01-19 15:13] MichaelSimons commented on #86
Something definitely seems wrong with the state of Docker or your Docker installation in general.  Possibly restart docker or the machine.  This issue in general seems Docker related and not something specific to microsoft/aspnet.  https://github.com/moby/moby is the place to log Docker issues like this.

[2018-01-19 15:18] eliassal commented on #86
OK, I will remove completely docker and reinstall.

[2018-01-19 19:29] shirhatti commented on #78
This issue was moved to Microsoft/IIS.ServiceMonitor#17

[2018-01-19 19:38] MichaelSimons commented on #78
@shirhatti - This repo still needs an active issue to update the updates to download/install ServiceMonitor.exe.  In other words it needs to consume the result of Microsoft/IIS.ServiceMonitor#17.

[2018-01-19 21:49] eliassal commented on #86
Michael, it is happening on 2 different win10 machines with different versions of docker, I a, not sure it is related to docker. What I will do is that I will setup docker for windows on a 3rd win10 machine and see

[2018-01-20 09:54] eliassal commented on #86
Yes Michael, you are correct, it seems that docker on this win1 is corrupt, and I think it is related to the many updates done over the year. I setup Docker for windows on a third win10 machine and everything went through

[2018-01-20 13:58] eliassal commented on #86
Michael, I did a clean setup, removed Docker for windows, deleted all related data, reinstalled getting the exact same error

[2018-01-20 14:33] eliassal commented on #86
I opened a thred on but again when I do

it works fine without any issue

[2018-01-26 02:09] sudha559 opened #87 "Failed to start monitoring changes to 'C:\inetpub\wwwroot\App_Code'. in Docker container"
Hi All,
I am trying to containerise the asp.net traditional web application.I am able to launch the container.While I am trying to launch the website in browser i am getting below error:
Please see below Image.
error
![error](https://user-images.githubusercontent.com/20248555/35421941-f981fb8e-0213-11e8-945c-739f1c628443.PNG)

Dockerfile:
FROM microsoft/aspnet:4.7.1-windowsservercore-ltsc2016

ARG

[2018-02-07 14:37] MichaelSimons commented on #2
This issue has been addressed.  Docker was able to fixup the link for us!

[2018-02-07 14:37] #2 closed

[2018-02-13 21:58] shirhatti opened #89 "Incorrect nomenclature in README"
We incorrectly refer to Windows Server, Version 1709 as ~~Windows Server 2016 Version 1709~~.
We need to fix
- [ ] README in this repo
- [ ] Product page on DockerHub

[2018-02-16 20:35] erichexter opened #91 "Why isn't there a aspnet 4.6.2 image based on the 1709 windows server core?"

[2018-02-16 20:38] erichexter commented on #91
cc @kendrahavens

[2018-02-16 23:00] shirhatti commented on #91
Windows Server, version 1709 shipped with .NET Framework 4.7.1 in the box. It has never possible to downgrade the version of the .NET Framework that the OS shipped with and hence what you're asking for is not possible.

[2018-02-16 23:00] #91 closed

[2018-02-24 01:35] MichaelSimons commented on #84
Resolved with https://github.com/Microsoft/aspnet-docker/pull/90.

[2018-02-24 01:35] #84 closed

[2018-02-24 01:36] MichaelSimons commented on #78
Fixed with https://github.com/Microsoft/aspnet-docker/pull/88

[2018-02-24 01:36] #78 closed

[2018-02-24 01:40] MichaelSimons commented on #77
ServiceMonitor.exe is now downloaded.  See https://github.com/Microsoft/aspnet-docker/pull/88.  @veaceslc - please try the latest Dockerfiles.  Closing but feel free to log a new issue if you have issues with the latest Dockerfiles.

[2018-02-24 01:40] #77 closed

[2018-03-01 22:00] juliolima86 commented on #63
Now depends on Microsoft/dotnet-framework-docker#37
I'm expecting this image to build asp.net framework and modernize then.

[2018-03-07 22:51] #63 closed

[2018-03-07 22:51] MichaelSimons commented on #63
Issue moved to [Microsoft/dotnet-framework-docker #103](https://github.com/Microsoft/dotnet-framework-docker/issues/103) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-09 16:23] flowdopip commented on #59
bad command

docker run --rm -it -p 5000:80 --name ServiceName --env ASPNETCORE_ENVIRONMENT=Production -e Service:HealthCheck="htttp://www.microsoft.com Repository:Service:2.0.17298.133"

[2018-03-09 16:23] #59 closed

[2018-03-26 22:49] artisticcheese commented on #76
Yes, it's enabled, and it can not be turned off since it requires reboot to be uninstalled

[2018-03-28 12:38] osoftware opened #93 "Permission denied for App_Data"
I'm struggling with allowing the ASP.NET app to write to App_Data folder. I get UnauthorizedAccessException.
The Dockerfile is as follows:
[code]
The last line was my attempt to grant permissions. This works when I exec it on a running container but this seems to not affect anything when used as above.

What is the proper way of granting the read-write access to App_Data? Why doesn't it work out o

[2018-03-29 18:38] HongGit commented on #93
@mcy94w could you please take a look?

[2018-03-29 23:05] Jinhuafei commented on #87
IIS runs under apppool identity. Does IIS_IUSRS user group have read permission on C:\inetpub\wwwroot\App_code folder?

[2018-03-30 20:28] mcy94w commented on #93
@osoftware  Can you `try Set-Acl`  powershell command instead using cacls?

[2018-03-31 18:01] osoftware commented on #93
I ended up using `icacls` instead of `cacls`.

[2018-03-31 18:01] #93 closed

[2018-04-04 22:28] Jinhuafei commented on #69
@sebagomez @BrettSun Is this still an issue to you? It works fine on the current build. Let me know if you still have the issue.

[2018-04-04 22:52] Jinhuafei commented on #65
@StingyJack Have you tried on latest VS 15 update? It should be as simple as two steps to run your mvc app inside container in VS. 1. add docker support on your mvc project 2. ctrl+F5

Let us know if you still have any issue.

[2018-04-04 23:53] Jinhuafei commented on #64
The aspnet base image uses ServiceMonitor.exe as entrypoint which is not an interactive process. You either have to change your entrypoint, like what @bsedg suggested. Or you can use enter-containersession from [Docker-PowerShell](https://github.com/Microsoft/Docker-PowerShell) to connect to the container.

[2018-04-04 23:53] #64 closed

[2018-04-05 00:11] Jinhuafei commented on #58
Please try latest image.

https://github.com/Microsoft/dotnet-framework-docker/issues/96

[2018-04-05 00:11] #58 closed

[2018-04-12 20:09] jonstelly opened #95 "4.7.1 Images do not have .NET Framework 4.7.1 Installed"
.NET 4.7.1 applications will not run in the LTSC2016 docker image that claims to have .NET Framework 4.7.1.  Checking the registry it looks like only .NET 4.6.2 is installed there.  This is the image `da1d0ce1ede4` listed below.

I first noticed that a web app I was building/deploying was generating a runtime error... but then I tried to mount a volume and run a very simple .NET 4.7.1 'Hello World

[2018-04-13 08:43] sandersaares commented on #95
I confirm my builds are also broken by this defect.

[2018-04-17 16:01] MichaelSimons opened #96 "aspnet:4.7.1-windowsservercore-ltsc2016 doesn't actually have dotnet 4.7.1 installed"
@Spotypop commented on [Tue Apr 17 2018](https://github.com/Microsoft/dotnet-framework-docker/issues/119)

We are using microsoft/aspnet:4.7.1-windowsservercore-ltsc2016 image.
In last couple of days seems like some changes were made to the image and now it lacks dotnet 4.7.1

[2018-04-19 19:39] molnara opened #97 "Error Building Dockerfile"
If I try to build Dockerfile
https://github.com/Microsoft/aspnet-docker/blob/master/4.6.2-windowsservercore-ltsc2016/runtime/Dockerfile

I get the error:

Microsoft (R) CLR Native Image Generator - Version 4.6.1586.0
Copyright (c) Microsoft Corporation.  All rights reserved.
Windows cannot verify the digital signature for this file. A recent hardware or software change might have installed a file

[2018-04-20 22:07] jonstelly commented on #95
This appears to have been fixed with the new images pushed 3 days ago.  I switched back to aspnet:latest and everything seems fine.

I find it a bit disappointing there was no comment/triage on this card in a week but at least it's fixed.

[2018-04-25 17:46] mcy94w commented on #95
This issue has been fixed on April/10.

[2018-04-25 17:46] #95 closed

[2018-04-27 17:44] jmajoor opened #98 "ASP.NET and .NET Core hosting bundle"
There is a docker image for ASP.NET Core and there is this docker image for ASP.NET 4.7.1.
Is there an image that has ASP.NET 4.7.1 and the .NET Core Hosting Bundle?
We have a application that has several services and some of them have been migrated to ASP .NET Core while others are still on ASP.NET and an image with the combination would be very useful.

I know I can install the hosting bundle as

[2018-05-03 14:05] emanueleleoni opened #102 "'libhostpolicy.so' required to execute the application was not found"
I created an MVC .Net Core 1.1 application. It works on windows and I'd like to run in my raspberry py too.
But It doesn't work.

## Environment:
1. VS17 enterprise
2. Mvc .net core 1.1
3. Raspberry pi with Debian 9.4
4. Repo on github

## Expected behavior
After publishing in windows for linux-arm I have pull my repo into raspberry, but when
I run
`dotnet  myapp.dll`
I have the error:
_A fatal er

[2018-05-03 14:05] emanueleleoni opened #190 "'libhostpolicy.so' required to execute the application was not found"
I created an MVC .Net Core 1.1 application. It works on windows and I'd like to run in my raspberry py too.
But It doesn't work.

## Environment:
1. VS17 enterprise
2. Mvc .net core 1.1
3. Raspberry pi with Debian 9.4
4. Repo on github

## Expected behavior
After publishing in windows for linux-arm I have pull my repo into raspberry, but when
I run
`dotnet  myapp.dll`
I have the error:
_A fatal er

[2018-05-16 13:32] MichaelSimons commented on #33
@andras-ferencz - I apologize for the frustration you are experiencing.  I do want to remind everyone to be respectful as stated in the [Microsoft  Code of Conduct](https://microsoft.github.io/codeofconduct/).

If you can provide the details of the issue you are encountering perhaps @HongGit and @shirhatti can help resolve the issue.

[2018-05-16 17:09] HongGit commented on #33
@andras-ferencz and @MarekLani could you please share the Visual Studio version you are using or if you could find out the version of the base ASP.NET docker you are using?  That will help us to investigate the issue.

IIS team has recently released a new version of Service Monitor (https://github.com/Microsoft/iis-docker/commit/af495067e62da437ec16adcade2dcd80a316384f#diff-01a019af0d92d881ba54fea

[2018-05-18 15:13] AmrineA opened #108 "Docker built in references to host do not resolve"
I've tried several different things that should resolve to the host IP, but it doesn't seem to do that. Here are the ones I've tried:

host.docker.internal
docker.for.win.localhost
docker.for.win.internal

Below are the steps I did for for this.

[code]

Once inside the container, you can do

[code]

It won't be able to resolve that to the host.

[2018-05-21 17:40] MikeChristensen opened #109 "Please enable IIS Rewrite module by default in aspnet-docker image"
It would be great to have access to the [IIS rewrite module](https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-the-url-rewrite-module) in IIS by default without having to modify or create our own image.  I think this makes sense as this module is available by default in Azure Websites.  Can this be added by default?

[2018-05-22 18:49] shirhatti commented on #109
I like this idea.
@bariscaglar /@honggit Thoughts?

[2018-05-28 02:47] odin88 opened #111 "encountered an error during Start: failure in a Windows system call: The JSON document is invalid. (0xc037010d)"
PS C:\Users\hassan> e:
PS E:\> cd E:\DockerizeHassan\aspnet
PS E:\DockerizeHassan\aspnet>  docker build -t aspnet-site --build-arg site_root=/ .
Sending build context to Docker daemon  3.584kB
Step 1/7 : FROM microsoft/dotnet-framework:4.7.2-runtime-windowsservercore-1803
4.7.2-runtime-windowsservercore-1803: Pulling from microsoft/dotnet-framework
d9e8b01179bf: Downloading
65a09b62c235: Downloadi

[2018-05-31 18:43] HongGit commented on #53
@richlander any thoughts?

[2018-05-31 18:53] MichaelSimons commented on #53
My understanding is the Windows OS layers are foreign layers because the Windows licensing requires them to be hosted by Microsoft servers.  The .NET products do not have these constraints therefore they are contained in "normal" layers and can be hosted on any registry.

[2018-05-31 19:01] HongGit commented on #111
@odin88 you will need to Windows version 1803 to pull down microsoft/dotnet-framework:4.7.2-runtime-windowsservercore-1803 image.

[2018-06-01 20:43] HongGit commented on #53
@sixeyed hope this answers your question.

[2018-06-01 23:56] HongGit commented on #96
@Spotypop I pulled down the latest microsoft/aspnet:4.7.1-windowsservercore-ltsc2016 image, and verified that the binaries in the image are .NET 4.7.1 binaries.

Can you please elaborate more on why you say that it lacks dotnet 4.7.1?

[2018-06-05 03:11] Ran-snow opened #112 "Build Docker Images Error"
aspnet-docker\4.7.2-windowsservercore-1803\runtime\Dockerfile

Docker build -t test/aspnet .
Step 4/7:

[code]
Address https://nuget.cdn.azure.cn/packages/microsoft.net.compilers.2.8.2.nupkg

[2018-06-05 06:03] iver3on opened #113 "unkown blob？does linux cant support this docker images?"
any other images can run in linux docker and run aps.net website app?

[2018-06-05 13:18] Ran-snow commented on #113
https://github.com/aspnet/aspnet-docker ASP.NET Core Docker

[2018-06-05 18:12] shirhatti commented on #98
Unfortunately, we have no plans to introduce a new base image that includes the server hosting bundle. For now, your best bet remains to install the server hosting bundle yourself.

The ASP.NET Core image that you're referencing directly expands the runtime store archive as opposed to installing the shared hosting bundle. The only appreciable savings in size in that image would arise from the fact

[2018-06-05 18:12] #98 closed

[2018-06-05 18:54] jmajoor commented on #98
Our application for the customer’s point of view is a website that we deliver as a container image. If they want to scale our app, they simply scale this container.

The website itself consists out of several web applications. As for the question “why don’t you make them all separate containers”. That sounds nice (and we thought about it), but creating micro services into separate containers has n

[2018-06-08 07:30] felix-norden-stratsys opened #114 "File/Directory permissions using RUN command"
I'm trying to migrate a legacy app into a Docker container and need to allow the app to write logs into a specific directory of the file system.  I've managed to narrow down which user to modify by copying the ACL from `C:\inetpub\wwwroot` onto the target directory and then updating that ACL with Modify privileges using ICACLS.exe.  When I do this using `RUN`, it doesn't seem to work, even when th

[2018-06-08 07:47] felix-norden-stratsys commented on #114
Okay, found the issue, which wasn't related to the container itself. There was a setting in the app that stated that it would flush the log after a certain after the first error occurred, which must've led to me having this "problem" occurring every time I tried a new container.
Well, you learn something new every day 👍

[2018-06-08 07:47] #114 closed

[2018-06-25 21:54] shirhatti opened #115 "My web service fails with error "Failed to start monitoring changes to App_Offline.htm""
_From @pbalzer on May 18, 2018 13:9_

I tried to change the user account of the application pool, I tried giving Full Access to Everyone in the containing folder, but nothing, I get always the same error.
This happens only on the 1709 version, in the 1603 version it works.

_Copied from original issue: Microsoft/iis-docker#103_

[2018-07-05 15:30] tfenster commented on #33
@HongGit I see the same error using base image microsoft/aspnet:4.7.2-windowsservercore-ltsc2016. Inspect shows the following
[code]
The Add-LocalGroupMember workaround fixed it for me

[2018-07-05 18:21] #113 closed

[2018-07-05 18:22] HongGit commented on #113
https://github.com/aspnet/aspnet-docker/issues/429

[2018-07-06 22:41] seth-capistron opened #116 "Website pages fail to load with message "The CodeDom provider type ... could not be located.""
In my Dockerfile, I have...

`FROM microsoft/aspnet:4.7.2-windowsservercore-1803`

For my ASP.NET project, I have installed the following Nuget package...

[code]

Which has added this to my web.config...

[code]

When I build and run the container, hitting my website I get the following error...

`The CodeDom provider type "Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Mi

[2018-08-06 21:49] Jinhuafei commented on #116
Is Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll under bin folder?

[2018-08-06 21:54] Jinhuafei commented on #115
@pbalzer Would you please share the docker file? Does this issue only happen to app_offline.htm file?

[2018-08-06 22:13] Jinhuafei commented on #112
@Ran-snow are you still seeing this issue? Probably it was due to the network glitch.

[2018-08-06 23:11] Jinhuafei commented on #97
@molnara can you still repro the issue? If so, can you provide your windows build information?

[2018-08-13 01:33] Ran-snow commented on #112
@Jinhuafei The error is that it does not exist on the Azure CDN。

[2018-08-13 13:13] lwsrbrts commented on #71
I have had this but not with this image. The issue seems to stem from the version being pulled when not using specific enough tags and the compatibility with the image that Docker decides to actually pull. Obviously this is all dependent on when you actually did the pull and your version of docker at the time, which you have provided above so I reckon this is explainable:

TL;DR - On the assumptio

[2018-08-17 05:27] natemcmaster commented on #86
Closing as this issue is stale and the cause of the issue appears to be an intermittent problem with docker.

[2018-08-17 05:27] #86 closed

[2018-09-07 18:05] eolamisan opened #117 "Frequent Error"
Frequently, for no apparent reason, the following error appears:
A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: Named Pipes Provider, error: 40 - Could not open a connection to SQL Se

[2018-09-07 19:42] eolamisan commented on #43
Just noticed I'm also having this issue randomly.

[2018-09-11 20:32] kbdavis07 opened #118 "What is the best practice to hosting multiple asp.net containers on same VM Docker host?"
So far had not seen any documentation any where on how to host multiple asp.net based containers on the same Docker VM host?

IIS by itself can host multiple websites, but what about now with docker containers that includes IIS in the base image so that is having multiple instances of IIS sharing the same Port 80.

Would like to know what is the best practice to host multiple asp.net 4.6 based web

[2018-09-16 01:28] Cloudmersive opened #119 "These images are hard to use"
Whoever added this:

"Note: Multi-arch tags, such as 4.7.1, have been updated to use windowsservercore-1709 images if your host is Windows Server 1709 or higher or Windows 10 Fall Creators Update (Version 1709) or higher. You need Docker 17.10 or later to take advantage of these updated tags."

Does not understand the whole point of containers.  Regardless of where you build your container, you sh

[2018-09-17 13:39] MichaelSimons commented on #119
If you want to be tied to a specific platform, then you should be using a platform tag such as 4.7.1-windowsservercore-lstc2016.  The intent of multi-arch tags is that when you build on a specific platform, then you will get an image that will work with said platform.  The use of multi-arch tags is a practice that you see across the official Docker repos.  This allows users to pull image `X` from

[2018-09-17 21:08] shirhatti opened #121 "Bump up ServiceMonitor issue for October releases"
Related https://github.com/Microsoft/iis-docker/issues/122

[2018-09-18 14:57] jorgevalv opened #122 "Problem Connecting to SQL Instance"
Hi there,

The problem I have is when I try to connect to a SQL Server that have two instances, it connects to the server but ignores the instance.

Example:
-

1. Server without instance: Connection String = "data source=serverName,1433; initial catalog=dbNAme; User Id =userId; password= pswrd;"

2. Server with instance: Connection String = "data source=serverName\Instance,1433; initial catalog=d

[2018-09-19 20:11] tburnett80 commented on #109
I have tried numerous examples including the one above from MikeChristensen and still IIS rewrite does not seem to install correctly, and work.

I always seem to get 500.19 until I remove the <rewrite> tags from my web.config file.

Im just doing a simple base container for my framework apps we do not want to convert
FROM microsoft/aspnet:4.7.1-windowsservercore-ltsc2016
WORKDIR /inetpub/wwwroot

[2018-09-19 20:31] shirhatti commented on #109
@tburnett80 There is currently a transient failure with the version of URL Rewrite publicly available on download.microsoft.com. Unfortunately, you'll have to wait for the roll-back to complete before attempting it again. The solution suggested by @MikeChristensen works fine.

[2018-09-19 20:37] tburnett80 commented on #109
@shirhatti That makes me feel less crazy, I thought I had this working last week and then nothing I have tried the last two days has worked.

Anyone heard of when the rollback is going to be published?

[2018-09-21 16:04] jorgevalv commented on #122
I solved the problem.

When you specify a port number, yhe InstanceName is ignored. So you have to verify on which port the SQL instance its listening. Here is a link which explain how to find the correct port:
https://www.mssqltips.com/sqlservertip/2495/identify-sql-server-tcp-ip-port-being-used/

[2018-09-21 16:04] #122 closed

[2018-09-27 17:38] rymancl opened #123 "Image size varies greatly on different OS version"
First, I apologize if this is a "user error" thing, but I can't see where I'm going wrong.

**LOCAL - Windows 10 - 5.37GB**
`docker pull microsoft/aspnet:4.7.2`
`docker images`

[code]
If I inspect this image, here are some properties of relevance...

[code]

`docker history microsoft/aspnet:4.7.2`
[code]

---------------------------------------

**BUILD SERVER - Windows Server 2016 - 13.6GB**
`do

[2018-09-27 18:11] MichaelSimons commented on #123
This is because the 4.7.2 tag is a [multi-arch tag](https://blog.docker.com/2017/11/multi-arch-all-the-things/).  A multi-arch tag is a special tag that points to different concrete images that are platform specific.  If you pull a multi-arch tag from different platforms, you will get different images.  On windows you have to keep in mind that there are [compatibility limitations](https://docs.mic

[2018-09-27 19:09] rymancl commented on #123
Thanks for the reply. That makes sense. I was reading about multi-arch but I guess it just didn't click. I'm assuming then that "latest" is inherently multi-arch as well since I see the same thing with that?

I did also try using microsoft/aspnet:4.7.2-windowsservercore-ltsc2016 but it ended up being 13.6GB on my local PC and on the server, so I was just trying to find one a bit smaller. It was co

[2018-09-27 19:16] MichaelSimons commented on #123
Yes you are correct

The number reported on the tags tab of DockerHub is the compressed size (e.g. the size of the bits sent over the wire when you pull).  You would need to upgrade to Windows Server 2016, version 1709 or version 1803 to make use of the smaller images.  Windows Server 2019 is your next option...

[2018-09-28 10:53] rymancl commented on #123
Just to clarify, this is because of direct compatibility between the host OS and the image right? When versions don't match, it needs to pull in the extra layers for compatibility right?

[2018-09-28 13:43] MichaelSimons commented on #123
Correct - I would word it as there is compatibility limitations between the host OS and container OS.

No - When they don't match, you may not be able to run the image on your host at all or if supported, you must run with `hyperv` isolation.  See https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility for details.

The image size of a particular O

[2018-10-02 12:43] alexandresmoraes opened #124 "Change properties Application Pool"
how to change iis properties, same as picture:

![sem titulo](https://user-images.githubusercontent.com/26805150/46349122-8f991a80-c627-11e8-863b-a54c781f33a3.png)

[2018-10-04 10:15] sixeyed opened #125 "Add support for Windows Server 2019"
The Windows Server Core Docker image is GA now  at `mcr.microsoft.com/windows/servercore:1809` - it would be great to get ASP.NET images for 1809 (we already have them for ASP.NET Core via [PR 719](https://github.com/dotnet/dotnet-docker/pull/719)).

[2018-10-04 10:54] sanguedemonstro commented on #125
I'm with you @sixeyed , actually I'm waiting, and ready to test my apps on it.
Please put it at Docker Hub too!

[2018-10-05 00:59] shirhatti commented on #125
We have the PR staged at https://github.com/Microsoft/aspnet-docker/tree/RS5update and are working on bootstrapping new infrastructure to publish to Windows Server 2019

[2018-10-05 02:15] radyz commented on #125
Excellent, looking forward to download it once it's ready

[2018-10-10 16:57] radyz commented on #125
Any ETA on this?

Thanks

[2018-10-11 02:13] radyz commented on #125
Thanks a lot!! I've been refreshing docker hub everyday checking for it to be available :smile:

[2018-10-15 12:37] pbering commented on #124
I normally use:
[code]

[2018-10-29 17:32] #87 closed

[2018-10-29 17:33] Jinhuafei commented on #97
Since there is not enough info about the issue, close the issue for now. Feel free to reopen the issue later with more details.

[2018-10-29 17:33] #97 closed

[2018-10-29 17:35] Jinhuafei commented on #112
I suspect that that's caused by the network glitch. Let us know if you still see the issue.

[2018-10-29 17:35] #112 closed

[2018-10-29 17:36] Jinhuafei commented on #115
Since we don't have enough info about the issue, close for now. Feel free to reopen the issue later with some details.

[2018-10-29 17:36] #115 closed

[2018-10-29 17:36] Jinhuafei commented on #116
Since we don't have enough info about the issue, close for now. Feel free to reactivate the issue later with some details.

[2018-10-29 17:36] #116 closed

[2018-10-30 10:07] fitims commented on #33
@Jared

You saved my life ! I tried everything under the sun to have AppPool use different identiy, but unsuccessful. You tip worked like a charm. Thanks !!!

[2018-11-21 09:41] sisimogangg commented on #64
This worked for me. Not sure why. Mind explaining @caokennedy

[2018-11-21 10:36] caoimhek7 commented on #64
`--rm ` deletes the container once it's finished running, erase everything related to it and save the disk space. I usually do this when running containers interactively so they're destroyed after I exit them.
`--entrypoint powershell` sets the entry point to powershell, so when the container runs interactively it's in a PowerShell shell

I did this following the advise of @bsedg, who suggested ch

[2018-11-28 11:10] sanguedemonstro commented on #125
Any ETA on this?

Thanks

[2018-11-28 12:13] pbering commented on #125
it's here: `docker image pull mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2019`

[2018-11-28 13:54] Mozanrath commented on #125
Still not on docker hub yet

[2018-11-28 19:22] shirhatti commented on #125
@Mozanrath The images are already live.

As you may have noticed in the docker pull command, the image is now being served from the Microsoft Container Registry (MCR). Starting with Windows Server 2019 and going forwards, all new tags will be published exclusively to MCR. All existing tags have been syndicated from DockerHub to MCR.

If your existing Dockerfile begins by specifying microsoft/iis a

[2018-11-28 19:22] #125 closed

[2018-11-28 19:45] Mozanrath commented on #125
Where can we see a list of images on mcr? Is there a web UI like docker hub?

[2018-11-29 02:44] shirhatti commented on #125
@rotata Could you help answer with that question?

[2018-12-05 16:58] tburnett80 commented on #109
@shirhatti Has that rollback taken place yet?

[2018-12-07 00:22] alburgin opened #146 "manifest for microsoft/aspnet:4.7.2-windowsservercore-ltsc2019 not found"
Hi,

I recently pulled the aspnet:4.7.2 windowsservercore docker image, and then tried building with it.  I used an existing dockerfile which worked with a previous version of the apsnet 4.7.2 docker image, but it is failing with the newer image.
The failure is that the manifest is not found (per the title).

Output:
docker build -t proxyfrontend.webrole:dev  "<project path>"
Sending build context

[2018-12-07 00:49] HongGit commented on #146
@alburgin the images are already live.

See #125 .

[2018-12-07 00:51] HongGit commented on #146
In addition, the Readme is being updated with the announcement.

See #132.

[2018-12-07 00:51] #146 closed

[2018-12-08 00:21] shirhatti commented on #109
@tburnett80 That was successfully completed and we even released a newer version of URL rewrite after.
Try https://download.microsoft.com/download/1/2/8/128E2E22-C1B9-44A4-BE2A-5859ED1D4592/rewrite_amd64_en-US.msi

[2018-12-10 12:51] shibayan opened #148 "small typo in 4.7.2-windowsservercore-ltsc2019 directory"
This link is not found error. directory name typo `4.7.2-windowssevercore-ltsc2019`
https://github.com/Microsoft/aspnet-docker/blob/master/4.7.2-windowsservercore-ltsc2019/runtime/Dockerfile

[2018-12-12 09:48] JebasinghLuccas opened #149 "microsoft/aspnet:4.7.2-windowsservercore-1803 is not supported in web app windows container"
I created a docker image based on microsoft/aspnet:4.7.2-windowsservercore-1803 and when i try to mount this from web app container , i ended up getting the below error

Cannot run this Operating System/Version in Windows Containers. Maximum supported OS version is 10.0.14393.9999.

what is correct base image i could use ?

[2018-12-12 22:37] shirhatti commented on #149
Have a look at https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility#matching-container-host-version-with-container-image-versions

Given that you're running on a Windows Server 2016 host, the image you should be using is `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2016`

[2018-12-12 22:37] #149 closed

[2018-12-12 22:45] #123 closed

[2018-12-13 01:07] #148 closed

[2018-12-14 10:31] florianbaillagou opened #151 "Read environment variable through windows service"
I have a small issue with my docker image, i would like to understand what's wrong with it.

I created a simple docker image based on microsoft/aspnet which declare an environment variable :

`ENV JAVA_HOME docker_file_value`

And i try to read it through a Windows service.

The service trace the environment variable :

`System.IO.File.WriteAllText(@"C:\log.txt", System.Environment.GetEnvironmentV

[2018-12-19 12:46] ebellumat opened #152 "[Powershell] A positional parameter cannot be found that accepts argument"
I have this dockerfile.

In Windows 10 this line works perfectly, but on this image, i have this error.

`RUN powershell Start-Process -FilePath "C:\database\setup.exe" -argumentlist "-responsefile c:\database\client.rsp", "-silent" -wait`

What is the version of Powershell of this image? How can I fix this script to run on it?

Im triying to install Oracle Universal Installer because i Need the O

[2018-12-20 08:43] willemodendaal opened #153 "'Host.docker.internal' does not resolve from inside container"
I'm trying to call a service on the container host machine (for local dev environment only, not production). Other images, like `microsoft/nanoserver` allow me to ping host.docker.internal, but the `microsoft/aspnet:4.7.2-windowsservercore-1803` image just returns the following error:

[code]
Here is my dockerfile:
[code]

How do I call the host machine from my docker container? I'm using the defa

[2018-12-30 15:53] Mitiko opened #154 "aspnetcore-runtime doesn't have an assembly to compile razor views"
My web app has the option to upload a file, which is then processed and stored as a razor view. I'm getting an error that the view can't be compiled because the 'Microsoft.NETCore.App' library is missing.
This happens because I'm using the microsoft/dotnet:aspnetcore-runtime image, which doesn't have the libraries needed to compile a new view.
I could use the microsoft/dotnet:sdk image, but I find

[2018-12-30 18:47] Mitiko commented on #154
Nevermind.
Solution: https://github.com/toddams/RazorLight/issues/203#issuecomment-403503671

[2018-12-30 18:47] #154 closed

[2019-01-02 17:00] sanguedemonstro commented on #125
Hey @shirhatti, or @rotata, how can I list or explore all images and tags from mcr.microsoft.com?

[2019-01-02 17:38] biiiipy commented on #125
@sanguedemonstro as I've read elsewhere, Docker Hub is still the place to explore/search images and mcr is just a place where they get pulled from. It's kind of weird and unexpected, but makes sense in a way

[2019-01-02 17:56] sanguedemonstro opened #155 "Server Core 2019 with different languages required, what should I do?"
Hello, I'm testing the Windows Server Core 2019 image below:
`FROM mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2019`

My ASP.NET application makes use of a Win32 component that runs scripts containing pt-br punctuation chars, like ã, ç, é and others.

The problem is that scripts with pt-br punctuation chars are being truncated, generating runtime error.

I think the probl

[2019-01-03 12:19] themultiplexer opened #156 "aspnet:4.7.2-windowsservercore-ltsc2019 printers not available"
According to [this Issue](https://github.com/moby/moby/issues/37124) printers should work starting with 1809 or ltsc2019 but printers are still not available. I need this for GDI to work.

[2019-01-04 11:34] sanguedemonstro commented on #125
@biiiipy from ltsc2019 on, tags are no longer in the docker hub. So now it is hard to know if there is any variant of ltsc2019, like other languages as pt-BR... Maybe there is but who knows?!

[2019-01-04 23:54] alburgin opened #157 "Adding Cmd.exe at end of docker image results in IIS terminating"
We want to do some run time configuration on container startup.  I have a docker file which consumes the ASP.Net base image and then runs the run time (not build time) configuration using a CMD. (Right now it just does an unzip but later it will do more.)  When I add the line to do the run time configuration, I get the following failures:
"Service 'w3svc' has been stopped

APPCMD failed with error

[2019-01-07 17:44] sanguedemonstro commented on #155
Going deeper on the issue, here is how far I came:

I'm running Docker Desktop Community on Windows 10
- Docker version: 18.09.0
- Windows 10 host version (It's a Desktop, not a Server): 10.0.17763.195 pt-BR version
- Server Core 2016 version (Running just fine):  10.0.17134.469
- Server Core 2019 version (With language issue):  10.0.17763.134

Dockerfile is the same for both, except for base imag

[2019-01-08 17:15] liberdis commented on #43
ERROR: Failed to stop or query status of service 'w3svc' error [800705b4]

I'm confused as to why this is closed. I started getting this error about a month ago (dec 2018) inconsistently - about one in every 5 starts. I'm using microsoft/aspnet:4.7.2-windowsservercore-ltsc2016

[2019-01-08 18:01] liberdis commented on #121
What is this issue trying to say? I'm trying to find an answer to this error surfacing  during about 20% of my startups (I'm using aspnet:4.7.2-windowsservercore-ltsc2016) :

ERROR: Failed to stop or query status of service 'w3svc' error [800705b4]

This seems to have started in the last month or two, and I'm wondering if there was an update that caused it.

Is this issue related to my problem?

[2019-01-10 13:10] sanguedemonstro commented on #155
Digging deeper on that, I ended up understanding that:
- At this moment, for Server Core 2019, you have to install [language pack by yourself](https://docs.microsoft.com/pt-br/windows-server/get-started-19/rel-notes-19).
- The way to do it, is [using lpksetup](https://support.microsoft.com/en-us/help/4466511/cannot-configure-language-pack-for-windows-server-2019).
- **But lpksetup.exe crashes when

[2019-01-10 15:47] sanguedemonstro commented on #155
Well, I started opening a suggestion on Windows Server User Voice.

**So please, everybody, vote up [here](https://windowsserver.uservoice.com/forums/295047-general-feedback/suggestions/36491128-add-support-to-multi-language-server-core-2019-whe).**

and spread the word :)

[2019-01-14 21:10] bdparrish opened #158 "microsoft/dotnet:2.2-runtime doesn't support Microsoft.AspNetCore.App@2.2.0"
Utilizing the pattern of using `microsoft/dotnet:2.2-sdk` to build a ASP.NET Core 2.2 Angular templated app and then copying it to `microsoft/dotnet:2.2-runtime` for running the app.  However I get an error when running the image - `"Microsoft.AspNetCore.App" version "2.2.0" could not be found.`

Is it part of the workflow to restore different libraries in the runtime environment vs. the sdk?

[co

[2019-01-14 21:31] MichaelSimons commented on #158
@bdparrish - For running ASP.NET Core application, you should be using the [`aspnet-runtime` tag variants](https://github.com/dotnet/dotnet-docker#microsoftdotnetversion-aspnetcore-runtime).  The `runtime` tag variants only include the .NET Core runtime and do not include any ASP.NET Core components.

[2019-01-15 03:13] #158 closed

[2019-01-15 19:36] crossan007 commented on #157
I'm seeing the same thing..

Using an image build from this Dockerfile,
[code]

My containers constantly restart with this:
[code]

[2019-01-15 19:42] crossan007 commented on #157
I'm testing out a theory now - I wonder if there's a race condition occurring on `web.config`.

Presumably your `ServiceRoot.zip` is touching/updating `web.config`.
My `.ps1` script is _certainly_ adjusting the `web.config` (according to Docker Environment Variables).

Maybe "waiting" until IIS is settled before altering `web.config` would help.

[2019-01-15 20:23] crossan007 commented on #157
This looks to be the same as:
https://github.com/Microsoft/IIS.ServiceMonitor/issues/47
https://github.com/Microsoft/iis-docker/issues/47
https://github.com/Microsoft/IIS.ServiceMonitor/issues/38
https://github.com/Microsoft/IIS.ServiceMonitor/pull/31
https://github.com/Microsoft/IIS.ServiceMonitor/issues/4
https://github.com/Microsoft/IIS.ServiceMonitor/issues/16

[2019-01-16 08:38] WolfMessing commented on #157
Hi, I had the similar issue. I guess it happened because of ServiceMonitor entrypoint in aspnet image.
Try to use FROM mcr.microsoft.com/windows/servercore:ltsc2019 instead of aspnet image, then manually isntall net framework and enable web server, so your  dockerfile should be like this:

[code]

[2019-01-16 21:54] shirhatti commented on #68
This should now be possible via the new Windows base image- https://hub.docker.com/_/microsoft-windowsfamily-windows

Please re-direct support requests to https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers

[2019-01-16 21:54] #68 closed

[2019-01-16 21:59] shirhatti commented on #48
This has already been addressed.

[2019-01-16 21:59] #48 closed

[2019-01-17 14:38] crossan007 commented on #157
@WolfMessing no success for me with the "multiple `CMD`" approach;  Also, it looks like Dockerfile only allows one `CMD` entry.

[2019-01-17 14:42] WolfMessing commented on #157
@crossan007 try to delete last 2 lines

[2019-01-17 17:04] MikeChristensen commented on #109
Tested the above rewrite module on a Windows Server 2019 image and works great.  Any word on when this module will be installed by default on aspnet?

[2019-01-22 22:03] AndreyBespamyatnov commented on #43
Have the same issue for `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2019` when I'm using that command `docker-compose up -d --force-recreate --remove-orphans`

[2019-01-24 01:41] shirhatti commented on #121
This issue was tracking https://github.com/Microsoft/aspnet-docker/pull/126 and should have been closed

[2019-01-24 01:41] #121 closed

[2019-01-29 04:17] ershadnozari opened #159 "Hosting a Web API 2.0 inside Windows Server Core 2019 results in ManagedPipelineHandler error"
I'm trying to host a Web API 2.0 (.NET Framework 4.7.2) inside a Windows Server Core 2019 container. Here is my Dockerfile:

[code]
Upon submitting a request to the container hosted API I'm receiving a HTTP 500 status. I went ahead and enabled Failed Request Routing and can see below entry in the log file:
[code]
Performing the command: `dism /online /enable-feature /featurename:IIS-ASPNET45 /all`

[2019-01-29 19:08] HongGit commented on #159
@ershadnozari is there any more info you could share like the logs, any traces or callstacks?

[2019-01-29 22:06] ershadnozari commented on #159
@HongGit I did copy over the Windows Event Log entries from the container but they didn't reveal anything and the Docker Logs don't output anything. I do have the Failed Request Log File available here:
[XbrFailedRequestLog.txt](https://github.com/Microsoft/aspnet-docker/files/2809895/XbrFailedRequestLog.txt)

[2019-01-30 23:51] ershadnozari commented on #159
I created a Window Server 2019 VM and the have no issues hosting the API there either. Not sure what's going on...

[2019-01-31 09:56] suseendare opened #160 "ERROR: Failed to start or query status of service 'w3svc' error, while setting IIS Web Application authentication"
Trying to update authentication of Web Application in IIS, using Powershell via dockerfile.
Tried directly using RUN instruction as well as using a ps1 file.

`Set-WebConfigurationProperty -Filter "/system.webServer/security/authentication/anonymousAuthentication" -Name Enabled -Value False -PSPath IIS:\ -Location "'Default Web Site/MyWebApp'";
    Set-WebConfigurationProperty -Filter "/system.web

[2019-02-04 19:09] robbiezhang opened #161 ""latest" tag has not been updated for 3 months"
The "latest" tag was updated 3 months ago. When will you rebuild it with the latest microsoft/dotnet-framework:4.7.2-runtime-20190108-windowsservercore-ltsc2016.

[2019-02-04 21:23] shirhatti commented on #161
See the README in the root of the repo. ASP.NET images are now published to Microsoft container registry- https://github.com/Microsoft/aspnet-docker#notes-on-aspnet-container-images-for-windows-server-2019

@rotata There seems an issue right now where the ASP.NET page on DockerHub is incorrectly rendering the ASP.NET Core contents? Can you please help look into what is going on here?

@robbiezhang

[2019-02-04 21:25] shirhatti commented on #161
@robbiezhang That OS independent tags are multi-arch image and will pull the version corresponding to the OS you are currently running on.

While we investigate why the ASP.NET page isn't loading, please take a look at [WCF](https://hub.docker.com/_/microsoft-dotnet-framework-wcf) which folllows the same naming and tagging convention as ASP.NET

[2019-02-05 23:05] shirhatti commented on #161
@robbiezhang This underlying DockerHub issue has now been fixed. Go to https://hub.docker.com/_/microsoft-dotnet-framework-aspnet

[2019-02-06 22:08] robbiezhang commented on #161
@shirhatti the "latest" tag for microsoft/aspnet is still not updated as today.
https://hub.docker.com/r/microsoft/aspnet/tags
![image](https://user-images.githubusercontent.com/9003737/52376768-cd63e080-2a17-11e9-8d1b-06be9ae715bd.png)
I know you are moving to MCR. How long will you maintain microsoft/aspnet in the docker hub?

[2019-02-07 19:30] StephenMolloy commented on #160
This issue was moved to Microsoft/iis-docker#146

[2019-02-07 19:30] #160 closed

[2019-02-07 19:43] StephenMolloy commented on #153
This would be an issue below our layer, and it looks like there already is an open issue for it.  https://github.com/docker/for-win/issues/1976

[2019-02-07 19:43] #153 closed

[2019-02-07 19:46] shirhatti commented on #156
To the best of my understanding, you will need to use new [windows](https://hub.docker.com/_/microsoft-windowsfamily-windows) base image for printer support.
@cwilhit if he has more to add.

Currently, our ASP.NET images are based on Windows Server Core images as opposed to the Windows images and we currently have no plans to create ASP.NET images based on the Windows base image. I'd recommend bui

[2019-02-07 21:18] cwilhit commented on #156
Only thing I'd call out is setting expectations around "printers working in containers"--Yes, you can run the Print Spooler service in the _Windows_ base image as @shirhatti pointed out, provided you have it turned off on your host and there's only one instance of the service running. I suspect there will be other quirks as well. Would love to capture this feedback if you try it out @themultiplexe

[2019-02-11 06:51] jlphillips75 opened #162 "Web Applications Supported?"
It seems that web applications are not supported. I've tried a number of methods creating a new web applications in my Dockerfile to no avail. No matter where the physical path, no matter which application pool is used, trying to hit the application yields a 404. To get a better handle on the specifics of this I tried calling from PS within the container to find the 404 followed by this exception:

[2019-02-11 12:56] raget commented on #152
I had a similar problem. Try `RUN powershell Start-Process -FilePath 'C:\database\setup.exe' -argumentlist '-responsefile c:\database\client.rsp -silent' -wait`. RUN actually starts `cmd /S` so there could be a problem with qoutations and aposthrophs.

[2019-02-12 12:58] tiwarishrijan opened #163 "No matching manifest for unknown in the manifest list entries"
I am unable to pull microsoft images from docker .
for Ex;
![image](https://user-images.githubusercontent.com/6523607/52636960-f68ee000-2ef3-11e9-8996-444306c68a5f.png)

[2019-02-12 14:04] MichaelSimons commented on #163
@tiwarishrijan - Can share the output of `docker version` and `docker info`?  I see `root@...` in your screen shot which gives me the impression you are trying to pull the images from a linux host.  The `mcr.microsoft.com/dotnet/framework/aspnet` images are Windows images and can only be run on a Windows container environment.  If you are looking to run ASP.NET on linux, you would need to use ASP.

[2019-02-12 20:33] SirwanAfifi opened #164 ".NET Core docker image doesn't support JavaScriptServices"
I have added webpack as part of my project using **UseWebpackMiddleware**:

[code]

But once the image is built (`docker-compose up`) I get following error message in the console:

[code]

**Dockerfile**:
[code]

Any idea?

[2019-02-13 00:44] StephenMolloy commented on #164
This issue was moved to dotnet/dotnet-docker#930

[2019-02-13 00:44] #164 closed

[2019-02-13 12:09] tiwarishrijan commented on #163
@MichaelSimons Thanks, Yes it was Windows Images which i was trying to pull on linux Platform.

[2019-02-13 12:09] #163 closed

[2019-02-13 13:34] tiwarishrijan opened #165 "dotnet framework linux support"
Do we have any road-map for dotnet framework support on linux containers ?

[2019-02-13 17:51] StephenMolloy commented on #165
For full-framework ASP.Net? No. The full-framework does not run on Linux.

For .Net Core, take a look at their container offerings.
[https://github.com/dotnet/dotnet-docker/](https://github.com/dotnet/dotnet-docker/)

[2019-02-13 17:51] #165 closed

[2019-02-14 15:50] Ivers07 opened #166 "Unable to resolve SQL server hostname in connection string"
I am unable to connect to a SQL instance on a _microsoft/mssql-server-windows-developer_ container from a _microsoft/aspnet_ container.

From the aspnet container I can ping the sql server hostname successfully but if the connection string contains the hostname it returns the error:

**"A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server

[2019-02-14 15:56] Ivers07 commented on #166
Version information:
[code]

[code]

[2019-02-15 15:27] jjindrich opened #167 "Using images in Azure d"

[2019-02-15 15:27] jjindrich opened #168 "Using images in Azure DevOps pipeline not working"
I'm trying to use this images in pipeline. Using this image microsoft/dotnet-framework:4.7.2-runtime-windowsservercore-ltsc2016 in docker build command. Running on hosted server Windows Containers. Task takes too long and fail. Probably images are not cached on server ???

[2019-02-15 16:17] spboyer commented on #164
@SirwanAfifi  - see comments in https://github.com/dotnet/dotnet-docker/issues/930

[2019-02-15 16:18] jjindrich commented on #168
Getting this error failed to register layer: re-exec error: exit status 1: output: cloning the parent utility VM image failed: SetFileInformationByHandle \\?\C:\ProgramData\docker\windowsfilter\39ca9208d111b3bfd1d8dce31677bb5ca7bc0f284f51646ba62fc1526a7e3f17\UtilityVM\Files\Documents and Settings: The parameter is incorrect.

[2019-02-19 22:15] #167 closed

[2019-02-19 22:22] shirhatti commented on #168
Unfortunately, this isn't an ASP.NET specific issue, so we'd be out of our depth trying to answer this.
I'd recommend asking your question in this forum- https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers

FWIW, I think I've seen this issue when I ran out of disk space but that forum would be a better place to ask this question.

[2019-02-19 22:22] #168 closed

[2019-02-20 19:09] MichaelSimons opened #169 "Could not resolve a service of type ‘System.Net.Http.HttpClient’ for the parameter ‘httpClient’ of method ‘Configure’ on type ‘MyProject.WindowsService.Startup"
@ianpano commented on [Tue Feb 19 2019](https://github.com/Microsoft/dotnet-framework-docker/issues/224)

This code runs fine outside docker,

[code]
but when I run inside docker, I get this error:

My docker file looks like this:
FROM microsoft/aspnet:4.7.2-windowsservercore-ltsc2016
EXPOSE 50500
WORKDIR /WinService
COPY dotnet-sdk-2.2.104-win-x64.exe ./
RUN Start-Process ‘dotnet-sdk-2.2.104-win-

[2019-02-21 17:10] SebastienLorrain opened #170 "CefSharp not working (missing a system assembly)"
Since upgrading from **microsoft/aspnet:4.7.2-windowsservercore-ltsc2016** to **mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2019**, the same sample code for CefSharp Offscreen code does not run anymore.

After investigating, using the CefSharp Minimal Sample (_https://github.com/cefsharp/CefSharp.MinimalExample_), even the sample does not run anymore.

One of the librarie

[2019-02-22 07:55] SebastienLorrain commented on #170
Attached the KernelBase.dll crash report

[report.txt](https://github.com/Microsoft/aspnet-docker/files/2892919/report.txt)

[2019-02-22 08:32] SebastienLorrain commented on #170
I created an even smaller sample with one line of code , Assembly.LoadFile("[path]/CefSharp.Core.dll").

This code runs fine on Windows Server 2019 Standard, but crashes on the docker image, with the following error report:

[report.txt](https://github.com/Microsoft/aspnet-docker/files/2893018/report.txt)

[2019-02-23 08:39] SebastienLorrain commented on #170
After investigating, trying to manually insert system DLLs taken from SySWoW64 of a WIndows Server 2019 Standard, the following DLL gets the CefSharp DLL to load:

 dxva2.dll( DirectX Video Acceleration 2.0)

However, it later fails at several points during the processing (probably due missing dependencies).

Again, the very same used to work on the 2016 version of the image, **microsoft/aspnet:4.

[2019-02-25 09:09] SebastienLorrain commented on #170
After manually copying the dxva2.dll to the sample folder, new errors occur, this time at Chromium level:

`[0225/095323.068:ERROR:network_change_notifier_win.cc(157)] WSALookupServiceBegin failed with: 0 [0225/095323.114:ERROR:audio_device_listener_win.cc(46)] RegisterEndpointNotificationCallback failed: 80070424 [0225/095324.149:ERROR:gpu_process_transport_factory.cc(990)] Lost UI shared context

[2019-02-26 18:44] dragan-bjelosevic opened #171 "Intermittent 502 errors when accessing container behind Application Gateway"
We are hosting a container based on this image in a VM in Azure. In front of the VM is Applicaton Gateway. Occasionally we get 502 Bad Gateway. For testing purpose we removed application code from the image and left just simple  static index.html file (Hello World) like in following Dockerfile.
To isolate the problem we tried packet capturing. That shows that every http request reaches the host bu

[2019-02-26 21:40] shirhatti commented on #171
@JMesser81 Have you heard of reports like this before? Any hypothesis on what might we happening?

[2019-02-27 19:40] Tim-Co opened #172 "Anyone get Application Initialization working?"
Here's my dockerfile set up..

`RUN powershell.exe -NoProfile -Command Add-WindowsFeature Web-AppInit; `
		Import-Module WebAdministration ; `
		Set-ItemProperty 'IIS:\AppPools\DefaultAppPool' -name startMode -Value AlwaysRunning ; `
		Set-ItemProperty 'IIS:\Sites\Default Web Site' -name applicationDefaults.preloadEnabled -Value True ;`

Here's my web.config...
`  <system.webServer>
  	<applicatio

[2019-02-28 18:17] hatsengMSFT opened #173 "microsoft/iis:windowsservercore-1709 is not supported in web app windows container"
Our team is experimenting Web App for (Windows) Container. I got error when trying to upload docker image:

- How to know the version of *Web App for Windows Container* host OS?
- What is eligible base image os version?
- Our web app can only run with 1709 or later. Does it have a plan to upgrade host OS version?

[2019-03-03 06:31] Cloudmersive opened #174 "You guys broke Swashbuckle/Swagger in the latest version of microsoft/aspnet:4.6.2-windowsservercore-ltsc2016"
In the latest version of microsoft/aspnet:4.6.2-windowsservercore-ltsc2016, Swashbuckle no longer works/starts up.

And there is no way to go back to the old version of the image!  Please fix this!

[2019-03-06 18:58] shirhatti commented on #173
Can you share the output of `docker history` for the image you're trying to run?

[2019-03-06 19:12] hatsengMSFT commented on #173
IMAGE               CREATED             CREATED BY                                      SIZE                COMMENT
3925923746cb        2 minutes ago       powershell $env:PATH = 'C:\inetpub\wwwroot\b…   29.9MB
c58215250481        3 minutes ago       powershell #(nop) ADD dir:8c9dd5dc37d8184afd…   2.08GB
534e27e8c7b7        5 minutes ago       powershell #(nop) WORKDIR C:\inetpub\wwwroot    41kB
8

[2019-03-06 19:12] hatsengMSFT commented on #173
Dockerfile
[code]

[2019-03-06 19:23] shirhatti commented on #173
Ahh sorry. I just realized I misread your question.

You cannot use a newer container runtime than your host OS version. From the error message I gather you're trying to run a 1709 image on an ltsc2016 host. This is not supported.

Your options here are:
1. Use a newer host OS; OR
2. Run the container with Hyper-V isolation instead.

See https://docs.microsoft.com/en-us/virtualization/windowsconta

[2019-03-06 19:35] shirhatti commented on #174
Could you provide more details on what your issue is?

[2019-03-06 19:39] shirhatti commented on #174
Try this
[code]

See this page for more details https://hub.docker.com/_/microsoft-dotnet-framework-aspnet and this page for a list of all available tags https://mcr.microsoft.com/v2/dotnet/framework/aspnet/tags/list

[2019-03-06 19:45] hatsengMSFT commented on #173
How to select newer host OS for Web App for Windows container?

[2019-03-06 19:50] shirhatti commented on #173
This is currently not supported in Azure App Service. You can currently only do this with your own VM.
I'd recommending creating a request for the Azure App Service team at https://feedback.azure.com/forums/169385-web-apps

[2019-03-06 19:51] shirhatti commented on #173
Closing this issue as it's not actionable by the ASP.NET team.

[2019-03-06 19:51] #173 closed

[2019-03-19 14:50] msperrin opened #175 "Tag list has not been updated since January 2019"
The tag list is not returning anything after Jan this year, is there a reason tags have not been generated for the last 2 images? Latest pulls an image that's 6 days old.

snippet from https://mcr.microsoft.com/v2/dotnet/framework/aspnet/tags/list showing the last

    "20190108-3.5-windowsservercore-1709",
    "20190108-3.5-windowsservercore-1803",
    "20190108-3.5-windowsservercore-ltsc2016",

[2019-03-20 21:37] mbrown555 commented on #175
This seems to be an issue with the publishing process which has been transitioned to a new system. We're working on a fix for this months images and this will be resolved for next month. Thanks.

[2019-03-21 16:38] aliridha1510 opened #177 "Failed to run as a self-contained app. If this should be a framework-dependent app, add the /app/Servicesruntimeconfig.json file specifying the appropriate framework."
docker run test:latest
A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/app/'.
Failed to run as a self-contained app. If this should be a framework-dependent app, add the /app/Servicesruntimeconfig.json file specifying the appropriate framework.

[2019-04-05 21:18] subbunori commented on #157
I was able to workaround this by adding the servicemonitor w3svc part in a ps1 file and then call it via entrypoint. It is an override of entrypoint from aspnet image. (without [] syntax)

**DockerFile snippet**

[code]

**ContainerRunTime.ps1**

[code]

[2019-04-08 16:44] rajien2 commented on #157
I've been fighting with this for a while i've been unable to get any of the solutions to work until.. Part of my IIS install scrip is removing the default app pool and site. Once I removed this step subbunori's solution works.

  Get-WebSite -Name "Default Web Site" | Remove-WebSite -Confirm:$false -Verbose ;
  Remove-WebAppPool -Name "DefaultAppPool" -Confirm:$false -Verbose ;

[2019-04-08 16:58] subbunori commented on #157
If I am not overriding entrypoint from aspnet image, it is failing. Rerunning C:\\ServiceMonitor.exe w3svc makes the container crash. This is a repro even after running this command from inside the container. Curious to know if this is a known issue and being fixed.

[2019-04-08 17:28] alburgin commented on #157
I have figured this out. ServiceMonitor.exe has logic inside of it that checks to see if the default app pool is running and if not exit. Since it is the entrypoint by default in the image, it has to stay running to keep the container alive. If you wanted to override this behavior you would need to write your own entrypoint process that stays alive, and start that as the entrypoint instead.

[2019-04-08 21:46] shirhatti commented on #177
This repo is for ASP.NET, not ASP.NET Core. Please file your issue at https://github.com/dotnet/dotnet-docker

[2019-04-08 21:46] #177 closed

[2019-04-08 21:48] shirhatti commented on #175
The February tags were not generated due to an issue in the publishing system. This has been resolved in March and we will continue to publish these tags going forward

[2019-04-08 21:48] #175 closed

[2019-04-08 21:48] shirhatti commented on #174
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2019-04-08 21:48] #174 closed

[2019-04-08 21:52] shirhatti commented on #171
@dragan-bjelosevic Were you able to resolve this issue?

[2019-04-08 22:08] dragan-bjelosevic commented on #171
@shirhatti  No. The case is at Microsoft support and still not resolved.

[2019-04-10 10:10] chetanchougle commented on #169
@MichaelSimons  : Did you try Docker build and run from Visual Studio instead of Project Build and Run ? I am assuming you did this step .
Now you might need to download & install Roslyn nupkg and ngen the compiler binaries to make it work.

[2019-04-10 10:17] chetanchougle commented on #166
Do you have a choice to simply pass the connection string directly ? Could you please check if this works just to eliminate other possibilities .
Ex -
`docker run -d --name sqlcontainer -h $db_hostname -e  ConnString= 'Data Source=$server;Initial Catalog=.;User ID=sa;Password=password '  -p 1433:1433 microsoft/mssql-server-windows-developer`

[2019-04-10 10:17] chetanchougle commented on #166
Do you have a choice to simply pass the connection string directly ? Could you please check if this works just to eliminate other possibilities .
Ex -
docker run -d --name sqlcontainer   -e ConnString= 'Data Source=$server;Initial Catalog=.;User ID=sa;Password=password ' -p 1433:1433 microsoft/mssql-server-windows-developer

[2019-04-10 10:20] chetanchougle commented on #159
@ershadnozari  Can you try runtime aspnet instead   ?  However,   I think you need to have download Roslyn nupkg and ngen the compiler binaries

[2019-04-10 13:31] MichaelSimons commented on #169
@chetanchougle - I am not the original author of this issue.  I simply moved the issue over from https://github.com/Microsoft/dotnet-framework-docker/issues/224.

@ianpano - Can you answer the question from @chetanchougle?

[2019-04-18 07:20] dozer75 opened #178 "Using the aspnet images in docker-compose hangs execution"
When using the `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2` image as base for a new docker image or standalone with docker-compose, it hangs.

The following `docker-compose.yml` content is the easiest way I have found to reproduce it with the command `docker-compose up` (without -d) (it can even be reproduced with the `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2` image too).

[code]

I su

[2019-04-30 19:25] jhealy opened #181 "unable to get selenium to run inside aspnet docker container"
## 🐛 Bug Report

Selenium C# webdriver inside a Windows container fails with 'HTTP request to the remote WebDriver server for URL http://localhost:49164/session timed out after 60 seconds. '.  Everything works fine locally or in a clean Windows Server 2016 with UI.  If I build a dockers container for windows and copy my tests in it fails with this message.  Consistent on ff and chrome drivers.

Se

[2019-05-02 12:11] SebastienLorrain commented on #170
Updated cross reference https://github.com/docker/for-win/issues/3438, I'll paste here the information as well:

`[0225/095323.068:ERROR:network_change_notifier_win.cc(157)] WSALookupServiceBegin failed with: 0`

Usually an error code isn't 0, which usually indicates success, so I got the chromium sources, compiled it, and noticed a bug in the logging code. After fixing that bug, the real error co

[2019-05-14 02:59] subbunori commented on #157
Exactly what I have done with below
`ENTRYPOINT ./DockerInit/ContainerRunTime.ps1`

[2019-05-14 08:24] Christoph2020 commented on #157
So basically:
- ENTRYPOINT gets executed before CMD.
- The base Image contains the line ENTRYPOINT ["C:\\ServiceMonitor.exe", "w3svc"].

When trying to execute any type of script via CMD:
[code]
I also get the "Service 'w3svc' has been stopped" message.

When trying to override ENTRYPOINT with my script the ServiceMonitor does not start anymore:
[code]
However, when I override ENTRYPOINT with my s

[2019-05-27 12:07] sstockhammer commented on #172
Bump. Same here.

I've made every single adjustment possible and checked all the settings. Nothing seems to get ApplicationInitialization working.

Any info from one of the contributors?

[2019-05-30 16:53] pjolin-di opened #183 "windows server 1903 tags can't be pulled"
Pulling tags based on windows server 1903

For instance,

docker pull mcr.microsoft.com/dotnet/framework/aspnet:4.8-20190522-windowsservercore-1903

results in:

failed to register layer: Cannot create layer with missing parent 9c50f974044a5d7fa3a3c1adb48b6d628df957ca9631afa917e15f589be2cf5e

[2019-06-07 13:21] mthalman opened #184 "`host.docker.internal` is not accessible in Windows Server Core container."
@stack247 commented on [Fri Jun 07 2019](https://github.com/microsoft/dotnet-framework-docker/issues/295)

## Issue

Using the following docker image, I'm not able to use `host.docker.internal` in any connection string (database or Azure Storage emulator).
* `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-ltsc2019`
* `mcr.microsoft.com/dotnet/framework/aspnet:4.8`

## Background

[2019-06-09 04:21] stack247 commented on #184
I just tried with following Docker images (running ASP.Net Core application) and same issue persists:

* mcr.microsoft.com/dotnet/core/sdk:2.2-nanoserver-1809

[2019-06-09 15:33] stack247 commented on #184
GitHub repo to reproduce the issue:

https://github.com/stack247/WebApplication1

[2019-06-11 12:36] sumantfordev opened #185 "image created in windows server 2016 fails to start in a windows server 2019"
i have created a docker image that hosts my web application, using base image aspnet:4.8 tag. The build machine is on windows server 2016 and my docker/kubernetes cluster  where the image is suppose to run is using windows server 2019
As per the image website - https://hub.docker.com/_/microsoft-dotnet-framework-aspnet, it specfies that 4.8 tag image multi architecture, and my assumption was it sh

[2019-06-14 13:12] SubratoPati commented on #116
Facing the same issue

[2019-06-21 16:13] pomtom opened #186 "Unable to Parse DockerFile"
I have copied docker file from [here](https://raw.githubusercontent.com/microsoft/aspnet-docker/master/4.8-windowsservercore-1903/runtime/Dockerfile)  as it is into my local file and try to build image by  hitting docker build -t appdemo:v1 .

But i am getting error like
PS C:\Temp\Publish> docker build -t appdemo:v1 .
Sending build context to Docker daemon  66.76MB
Step 1/7 : FROM mcr.microsoft.c

[2019-06-21 17:58] MichaelSimons commented on #186
@pomtom, it looks like your Docker host is running Window 10, version 1809.  Windows containers have compatibility limitations.  You cannot run a container version that is newer than your host.  See the [Windows container version compatibility](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility) for additional details.  If you want to build/ru

[2019-06-22 19:36] pomtom commented on #186
@MichaelSimons Thank you for responding my query, Could you please help me which docker images should i refer to run my Asp.net MVCapplication ? I am new to docker platform.

[2019-06-24 14:52] MichaelSimons commented on #186
@pomtom, given you appear to be using a Windows 2019 host machine, I would suggest using the `mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019` image.

[2019-06-24 17:34] pomtom commented on #186
I am using Windows 10 Enterprise edition on my laptop.

[2019-06-24 17:51] MichaelSimons commented on #186
From a cmd prompt run `winver` and I expect you will see version 1809 (e.g. 17763).  This would be a compatible host to run th `mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019` image

[2019-06-24 20:57] pomtom commented on #186
![image](https://user-images.githubusercontent.com/39467947/60051402-d4d80d80-96ca-11e9-919b-bfaae49ebd23.png)

[2019-06-24 22:03] pomtom commented on #186
I do have enough space in my drive but still getting this error !

C:\Users\pomtom>docker pull mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019
4.8-windowsservercore-ltsc2019: Pulling from dotnet/framework/aspnet
65014b3c3121: Pull complete
266cffe9d908: Pull complete
0fe021c85511: Pull complete
f620e688ba4a: Pull complete
f57b84980a9f: Pull complete
b6f0e7a54065: Extractin

[2019-06-26 21:29] pomtom commented on #186
@MichaelSimons

I have resolved above error but now i am getting below error .

D:\pub>docker build -t app:v1 .
Sending build context to Docker daemon  33.43MB
Step 1/10 : FROM mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019
 ---> 2241177b3439
Step 2/10 : MAINTAINER pramodlawate
 ---> Running in 27a7b7bd6454
Removing intermediate container 27a7b7bd6454
 ---> d717d497c908
S

[2019-06-26 22:14] pomtom commented on #186
Again Solved by adding extra -force parameter.

# escape=`

FROM mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019

MAINTAINER pramodlawate
SHELL ["powershell", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'SilentlyContinue';"]

RUN Add-WindowsFeature Web-Server; `
    Add-WindowsFeature NET-Framework-45-ASPNET; `
    Add-WindowsFeature Web-Asp-Net45;

[2019-06-28 05:50] dcolclazier commented on #116
Also periodically facing the same issue.

[2019-07-04 23:28] denhsu opened #187 "Question: Is There a Way to Get Notify/Email/Webhook If Offical Image is Updated?"
We have our application image store in Azure Container Registry and it uses Microsoft official image "microsoft/aspnet:4.7.1-windowsservercore-ltsc2016".

Is it possible to notify us/email/webhook when image is updated in this repo?  For example, automatically trigger a build in our Azure DevOps to rebuild the application to take latest OS image.

[2019-07-05 15:24] dropsonic opened #188 "APPCMD failed with error code 4312"
I have a very simple image with ASP.NET application:

[code]

I create a container with this command:
`docker run -p 8085:80 --name test1 myimage -e CONNECTION_STRING='Data Source=(local);Initial Catalog=mydb;User Id=sa;Password=mypass'`

But it immediately stops with the following error:
[code]

Please advise why I receive this error.

[2019-07-09 16:59] MichaelSimons commented on #187
I am not aware of anything.  If you are able to utilize ACR Tasks, they have support for this scenario as described [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#automate-os-and-framework-patching).

Moving to https://github.com/microsoft/ContainerRegistry since this is an MCR specific question.

[2019-07-09 17:00] MichaelSimons commented on #187
Issue moved to [microsoft/containerregistry #4](https://github.com/microsoft/containerregistry/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-09 17:32] denhsu commented on #187
Hi @MichaelSimons

If we have Linux container store in ACR and uses "ubuntu" official image from docker hub.  Is there a way for us to get notification/webhook when docker official repo is updated?  If we can get a webhook, we can trigger an application build in our CI build (Azure DevOps).

Or how do people usually watch or do when base image changes in Docker Hub?

Thanks!

[2019-07-15 06:14] ravikr-dev commented on #157
I tried using ENTRYPOINT ./DockerInit/ContainerRunTime.ps1, I am setting environment variable at Machine level, but it does not set the variable in my case i.e.
[Environment]::SetEnvironmentVariable("Monitoring","Value","Machine")

When I try to get the environment variable, it throws me below error:
Get-Variable : Cannot find a variable with the name 'Monitoring'.

But when I set the Environment

[2019-07-27 00:57] Sephizor opened #189 "Request: Allow configuration of virus scanning components in server core 2019 image"
I am using the aspnet:4.7.2 image as a base for a large, complex C# .NET application and am running into issues with some false positives being flagged by virus scanning components when running the image in Azure Container Instances. The exception is "System.IO.IOException: Operation did not complete successfully because the file contains a virus or potentially unwanted software". This happens som

[2019-08-09 19:20] #156 closed

[2019-08-09 19:22] #152 closed

[2019-08-09 19:24] #124 closed

[2019-08-09 19:25] #119 closed

[2019-08-09 19:28] #111 closed

[2019-08-09 19:31] #96 closed

[2019-08-09 19:31] #89 closed

[2019-08-09 19:31] #83 closed

[2019-08-09 19:32] #76 closed

[2019-08-09 19:33] #70 closed

[2019-08-09 19:33] #53 closed

[2019-08-12 18:59] MichaelSimons commented on #190
.NET Core 1.* didn't support arm images.  .NET Core 2.1+ has support for arm32v7 images which are compatible with Raspberry Pi devices.

[2019-08-12 18:59] #190 closed

[2019-08-12 19:04] MichaelSimons commented on #191
This is an old issue.  Windows has addressed several `failed to register layer: re-exec error` related errors since this was originally logged.  Additionally, if you try to pull an image that is not compatible with the host, you will get a better error experience.  Please apply the latest patches and pull the latest ASP.NET Core images from https://hub.docker.com/_/microsoft-dotnet-core-aspnet.  I

[2019-08-12 19:04] #191 closed